# Data Cleaning

---

This notebook was created to take our initial dataset, "Public Company ESG Ratings Dataset", which we obtained from Kaggle.com (https://www.kaggle.com/datasets/alistairking/public-company-esg-ratings-dataset) and use it to make an API call to add additional information for analysis.

We gathered performance data on the companies contained in the set by looping through a series of ticker symbols and pulling from the alphavantage.co API. Specific URL’s were used to pull both annual percentage change values and earnings per share (EPS) for as many of the ticker symbols as possible. 

Once the API calls were completed, the data was converted into dataframes, evaluated and merged together. With our initial dataset. This dataset was converted to a CSV file and exported to a folder for use in the primary jupyter notebook we used for our analysis. 



## sources

#### https://www.alphavantage.co/

#### https://www.kaggle.com/datasets/alistairking/public-company-esg-ratings-dataset

In [2]:
# Dependencies and Setup

import pandas as pd
import requests
import json


# Import our Alpha Advantage API key
from api_keys import alpha_api_key


# Bring in initial ESG dataset from Kaggle.com
esg_data_path = "csv_files/data.csv"


# Converting csv to dataframe
esg_data = pd.read_csv(esg_data_path)


# Displaying the data table for preview
esg_data.head()

,ticker,name,currency,exchange,industry,logo,weburl,environment_grade,environment_level,social_grade,...,governance_grade,governance_level,environment_score,social_score,governance_score,total_score,last_processing_date,total_grade,total_level,cik
0,dis,Walt Disney Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,https://static.finnhub.io/logo/ef50b4a2b263c84...,https://thewaltdisneycompany.com/,A,High,BB,...,BB,Medium,510,316,321,1147,19-04-2022,BBB,High,1744489
1,gm,General Motors Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Automobiles,https://static.finnhub.io/logo/9253db78-80c9-1...,https://www.gm.com/,A,High,BB,...,B,Medium,510,303,255,1068,17-04-2022,BBB,High,1467858
2,gww,WW Grainger Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Trading Companies and Distributors,https://static.finnhub.io/logo/f153dcda-80eb-1...,https://www.grainger.com/,B,Medium,BB,...,B,Medium,255,385,240,880,19-04-2022,BB,Medium,277135
3,mhk,Mohawk Industries Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Consumer products,https://static.finnhub.io/logo/26868a62-80ec-1...,https://mohawkind.com/,A,High,B,...,BB,Medium,570,298,303,1171,18-04-2022,BBB,High,851968
4,lyv,Live Nation Entertainment Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,https://static.finnhub.io/logo/1cd144d2-80ec-1...,https://www.livenationentertainment.com/,BBB,High,BB,...,B,Medium,492,310,250,1052,18-04-2022,BBB,High,1335258

In [3]:
# Looking at the counts of all the dataframes columns
esg_data.count()

ticker                  722
name                    722
currency                722
exchange                722
industry                709
logo                    702
weburl                  706
environment_grade       722
environment_level       722
social_grade            722
social_level            722
governance_grade        722
governance_level        722
environment_score       722
social_score            722
governance_score        722
total_score             722
last_processing_date    722
total_grade             722
total_level             722
cik                     722
dtype: int64

In [4]:
# Looking at the number of unique values
#A number of entries are missing values for things like website or logo, etc. beacuse that info isn't available
#Things like currency of exchange have lower values because the companies are only traded on 2 different exchanges, for example
esg_data.nunique()

ticker                  722
name                    722
currency                  5
exchange                  2
industry                 47
logo                    702
weburl                  706
environment_grade         5
environment_level         3
social_grade              6
social_level              4
governance_grade          4
governance_level          3
environment_score       197
social_score            186
governance_score         80
total_score             441
last_processing_date     30
total_grade               4
total_level               2
cik                     722
dtype: int64

In [5]:
#This was an example API pull that we used to determine what data we could obtain and identify how to pull the values we were looking for
#ticker "cop" example trial of API pull, using TIME_SERIES_MONTHLY function
api_key = alpha_api_key
url = "https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=cop&apikey=SU7P624CW7MEDZWK"

stock_info_return = requests.get(url)
data = stock_info_return.json()
data

{'Meta Data': {'1. Information': 'Monthly Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'cop',
  '3. Last Refreshed': '2024-04-05',
  '4. Time Zone': 'US/Eastern'},
 'Monthly Time Series': {'2024-04-05': {'1. open': '128.0000',
   '2. high': '133.8400',
   '3. low': '126.7500',
   '4. close': '133.5200',
   '5. volume': '19139110'},
  '2024-03-28': {'1. open': '113.8000',
   '2. high': '128.6400',
   '3. low': '110.8500',
   '4. close': '127.2800',
   '5. volume': '120434107'},
  '2024-02-29': {'1. open': '112.3400',
   '2. high': '115.2900',
   '3. low': '108.8400',
   '4. close': '112.5400',
   '5. volume': '120426852'},
  '2024-01-31': {'1. open': '117.1700',
   '2. high': '121.2400',
   '3. low': '105.7701',
   '4. close': '111.8700',
   '5. volume': '110673689'},
  '2023-12-29': {'1. open': '115.0300',
   '2. high': '119.6400',
   '3. low': '109.7000',
   '4. close': '116.0700',
   '5. volume': '142651731'},
  '2023-11-30': {'1. open': '119.4800',
   '2. high': '123.2500',
   '3. low': '109.9800',
   '4. close': '115.5700',
   '5. volume': '113716446'},
  '2023-10-31': {'1. open': '120.2400',
   '2. high': '127.3500',
   '3. low': '111.6700',
   '4. close': '118.8000',
   '5. volume': '113395628'},
  '2023-09-29': {'1. open': '120.0000',
   '2. high': '126.0300',
   '3. low': '118.7500',
   '4. close': '119.8000',
   '5. volume': '98337640'},
  '2023-08-31': {'1. open': '117.2600',
   '2. high': '119.5600',
   '3. low': '111.3001',
   '4. close': '119.0300',
   '5. volume': '92880739'},
  '2023-07-31': {'1. open': '103.9500',
   '2. high': '118.2500',
   '3. low': '99.3450',
   '4. close': '117.7200',
   '5. volume': '97918923'},
  '2023-06-30': {'1. open': '99.5700',
   '2. high': '105.5700',
   '3. low': '98.3800',
   '4. close': '103.6100',
   '5. volume': '116238404'},
  '2023-05-31': {'1. open': '101.5800',
   '2. high': '105.6800',
   '3. low': '95.7000',
   '4. close': '99.3000',
   '5. volume': '140979251'},
  '2023-04-28': {'1. open': '105.1300',
   '2. high': '110.0200',
   '3. low': '99.6500',
   '4. close': '102.8900',
   '5. volume': '113289480'},
  '2023-03-31': {'1. open': '103.7300',
   '2. high': '109.6000',
   '3. low': '91.5338',
   '4. close': '99.2100',
   '5. volume': '163765004'},
  '2023-02-28': {'1. open': '120.7100',
   '2. high': '120.9700',
   '3. low': '102.9600',
   '4. close': '103.3500',
   '5. volume': '155868441'},
  '2023-01-31': {'1. open': '116.5600',
   '2. high': '126.3900',
   '3. low': '110.4600',
   '4. close': '121.8700',
   '5. volume': '97124730'},
  '2022-12-30': {'1. open': '124.6700',
   '2. high': '125.3700',
   '3. low': '109.0100',
   '4. close': '118.0000',
   '5. volume': '125128160'},
  '2022-11-30': {'1. open': '128.7400',
   '2. high': '138.4900',
   '3. low': '121.2400',
   '4. close': '123.5100',
   '5. volume': '147172934'},
  '2022-10-31': {'1. open': '106.9300',
   '2. high': '129.9900',
   '3. low': '106.5300',
   '4. close': '126.0900',
   '5. volume': '152049990'},
  '2022-09-30': {'1. open': '107.7800',
   '2. high': '118.3900',
   '3. low': '98.4600',
   '4. close': '102.3400',
   '5. volume': '160448573'},
  '2022-08-31': {'1. open': '95.3100',
   '2. high': '115.4700',
   '3. low': '88.0007',
   '4. close': '109.4500',
   '5. volume': '147510177'},
  '2022-07-29': {'1. open': '91.9300',
   '2. high': '97.9150',
   '3. low': '78.3000',
   '4. close': '97.4300',
   '5. volume': '142842672'},
  '2022-06-30': {'1. open': '114.3600',
   '2. high': '124.0800',
   '3. low': '87.2600',
   '4. close': '89.8100',
   '5. volume': '200256573'},
  '2022-05-31': {'1. open': '94.2700',
   '2. high': '117.9900',
   '3. low': '92.5800',
   '4. close': '112.3600',
   '5. volume': '167936914'},
  '2022-04-29': {'1. open': '100.1500',
   '2. high': '104.1100',
   '3. low': '88.7700',
   '4. close': '95.5200',
   '5. volume': '135708737'},
  '2022-03-31': {'1. open': '95.8500',
   '2. high': '107.5200',
   '3. low': '92.3200',
   '4. close': '100.0000',
   '5. volume': '233599283'},
  '2022-02-28': {'1. open': '87.4000',
   '2. high': '95.0699',
   '3. low': '85.2900',
   '4. close': '94.8600',
   '5. volume': '172793270'},
  '2022-01-31': {'1. open': '72.0300',
   '2. high': '89.7400',
   '3. low': '72.0206',
   '4. close': '88.6200',
   '5. volume': '176124909'},
  '2021-12-31': {'1. open': '72.0100',
   '2. high': '75.9600',
   '3. low': '66.0600',
   '4. close': '72.1800',
   '5. volume': '151451473'},
  '2021-11-30': {'1. open': '74.9500',
   '2. high': '77.1500',
   '3. low': '69.3400',
   '4. close': '70.1300',
   '5. volume': '176645441'},
  '2021-10-29': {'1. open': '68.3800',
   '2. high': '77.9762',
   '3. low': '68.3100',
   '4. close': '74.4900',
   '5. volume': '183148774'},
  '2021-09-30': {'1. open': '55.5600',
   '2. high': '68.8900',
   '3. low': '54.4200',
   '4. close': '67.7700',
   '5. volume': '214404509'},
  '2021-08-31': {'1. open': '56.5300',
   '2. high': '57.7600',
   '3. low': '51.4100',
   '4. close': '55.5300',
   '5. volume': '154449765'},
  '2021-07-30': {'1. open': '62.6900',
   '2. high': '63.5700',
   '3. low': '52.8200',
   '4. close': '56.0600',
   '5. volume': '182044636'},
  '2021-06-30': {'1. open': '57.0800',
   '2. high': '62.3500',
   '3. low': '57.0500',
   '4. close': '60.9000',
   '5. volume': '186159947'},
  '2021-05-28': {'1. open': '51.9200',
   '2. high': '59.3400',
   '3. low': '51.5603',
   '4. close': '55.7400',
   '5. volume': '175051888'},
  '2021-04-30': {'1. open': '53.1200',
   '2. high': '54.4950',
   '3. low': '47.8500',
   '4. close': '51.1400',
   '5. volume': '175541019'},
  '2021-03-31': {'1. open': '53.4700',
   '2. high': '61.1400',
   '3. low': '50.5300',
   '4. close': '52.9700',
   '5. volume': '249919482'},
  '2021-02-26': {'1. open': '40.4300',
   '2. high': '55.5100',
   '3. low': '39.7000',
   '4. close': '52.0100',
   '5. volume': '196757576'},
  '2021-01-29': {'1. open': '40.5000',
   '2. high': '48.2900',
   '3. low': '39.1800',
   '4. close': '40.0300',
   '5. volume': '240912882'},
  '2020-12-31': {'1. open': '40.9000',
   '2. high': '44.3500',
   '3. low': '38.7700',
   '4. close': '39.9900',
   '5. volume': '238082325'},
  '2020-11-30': {'1. open': '29.4200',
   '2. high': '45.3590',
   '3. low': '28.5100',
   '4. close': '39.5600',
   '5. volume': '291936435'},
  '2020-10-30': {'1. open': '32.2300',
   '2. high': '36.0000',
   '3. low': '27.5300',
   '4. close': '28.6200',
   '5. volume': '250746661'},
  '2020-09-30': {'1. open': '37.4200',
   '2. high': '37.6000',
   '3. low': '32.1703',
   '4. close': '32.8400',
   '5. volume': '173479723'},
  '2020-08-31': {'1. open': '37.2700',
   '2. high': '41.8250',
   '3. low': '36.4700',
   '4. close': '37.8900',
   '5. volume': '128310458'},
  '2020-07-31': {'1. open': '42.3500',
   '2. high': '42.8700',
   '3. low': '35.9000',
   '4. close': '37.3900',
   '5. volume': '143071723'},
  '2020-06-30': {'1. open': '42.2600',
   '2. high': '50.7900',
   '3. low': '39.9200',
   '4. close': '42.0200',
   '5. volume': '166328965'},
  '2020-05-29': {'1. open': '40.5400',
   '2. high': '45.1200',
   '3. low': '37.7800',
   '4. close': '42.1800',
   '5. volume': '155845378'},
  '2020-04-30': {'1. open': '29.3200',
   '2. high': '43.5800',
   '3. low': '28.8300',
   '4. close': '42.1000',
   '5. volume': '243762552'},
  '2020-03-31': {'1. open': '49.3200',
   '2. high': '51.4900',
   '3. low': '20.8400',
   '4. close': '30.8000',
   '5. volume': '342455575'},
  '2020-02-28': {'1. open': '59.4100',
   '2. high': '61.1500',
   '3. low': '45.1200',
   '4. close': '48.4200',
   '5. volume': '157105604'},
  '2020-01-31': {'1. open': '65.2800',
   '2. high': '67.1300',
   '3. low': '59.1200',
   '4. close': '59.4300',
   '5. volume': '124230982'},
  '2019-12-31': {'1. open': '60.2400',
   '2. high': '65.7400',
   '3. low': '58.6100',
   '4. close': '65.0300',
   '5. volume': '121740760'},
  '2019-11-29': {'1. open': '55.6500',
   '2. high': '61.3900',
   '3. low': '55.4700',
   '4. close': '59.9400',
   '5. volume': '125127916'},
  '2019-10-31': {'1. open': '57.5000',
   '2. high': '57.9700',
   '3. low': '52.3000',
   '4. close': '55.2000',
   '5. volume': '137240207'},
  '2019-09-30': {'1. open': '51.0500',
   '2. high': '63.2200',
   '3. low': '50.7400',
   '4. close': '56.9800',
   '5. volume': '160524864'},
  '2019-08-30': {'1. open': '58.0800',
   '2. high': '60.2800',
   '3. low': '50.1300',
   '4. close': '52.1800',
   '5. volume': '141050228'},
  '2019-07-31': {'1. open': '62.0000',
   '2. high': '62.8100',
   '3. low': '57.0200',
   '4. close': '59.0800',
   '5. volume': '125740912'},
  '2019-06-28': {'1. open': '59.0700',
   '2. high': '63.3000',
   '3. low': '56.9800',
   '4. close': '61.0000',
   '5. volume': '126854258'},
  '2019-05-31': {'1. open': '63.7300',
   '2. high': '64.5300',
   '3. low': '57.8200',
   '4. close': '58.9600',
   '5. volume': '148524935'},
  '2019-04-30': {'1. open': '67.4900',
   '2. high': '68.2200',
   '3. low': '62.0800',
   '4. close': '63.1200',
   '5. volume': '154007739'},
  '2019-03-29': {'1. open': '68.0900',
   '2. high': '70.0600',
   '3. low': '64.9100',
   '4. close': '66.7400',
   '5. volume': '161143579'},
  '2019-02-28': {'1. open': '68.3400',
   '2. high': '71.0100',
   '3. low': '65.2600',
   '4. close': '67.8500',
   '5. volume': '105632679'},
  '2019-01-31': {'1. open': '60.6900',
   '2. high': '68.3100',
   '3. low': '60.4300',
   '4. close': '67.6900',
   '5. volume': '132768104'},
  '2018-12-31': {'1. open': '68.1000',
   '2. high': '69.7200',
   '3. low': '56.7500',
   '4. close': '62.3500',
   '5. volume': '136787830'},
  '2018-11-30': {'1. open': '70.2000',
   '2. high': '71.2600',
   '3. low': '62.4100',
   '4. close': '66.1800',
   '5. volume': '150583396'},
  '2018-10-31': {'1. open': '77.7700',
   '2. high': '80.2400',
   '3. low': '65.0000',
   '4. close': '69.9000',
   '5. volume': '153254482'},
  '2018-09-28': {'1. open': '73.9300',
   '2. high': '78.6800',
   '3. low': '69.4200',
   '4. close': '77.4000',
   '5. volume': '108012018'},
  '2018-08-31': {'1. open': '71.5200',
   '2. high': '74.4300',
   '3. low': '67.7100',
   '4. close': '73.4300',
   '5. volume': '114781403'},
  '2018-07-31': {'1. open': '68.9100',
   '2. high': '72.9400',
   '3. low': '68.2000',
   '4. close': '72.1700',
   '5. volume': '119608606'},
  '2018-06-29': {'1. open': '67.7600',
   '2. high': '70.9900',
   '3. low': '64.7900',
   '4. close': '69.6200',
   '5. volume': '149470210'},
  '2018-05-31': {'1. open': '65.0500',
   '2. high': '71.7100',
   '3. low': '64.3200',
   '4. close': '67.3900',
   '5. volume': '155469165'},
  '2018-04-30': {'1. open': '59.2700',
   '2. high': '67.3000',
   '3. low': '56.5700',
   '4. close': '65.5000',
   '5. volume': '185910549'},
  '2018-03-29': {'1. open': '54.5000',
   '2. high': '59.8200',
   '3. low': '52.7800',
   '4. close': '59.2900',
   '5. volume': '145000524'},
  '2018-02-28': {'1. open': '59.0000',
   '2. high': '59.9700',
   '3. low': '50.1800',
   '4. close': '54.3100',
   '5. volume': '131319878'},
  '2018-01-31': {'1. open': '55.0900',
   '2. high': '61.3200',
   '3. low': '54.8200',
   '4. close': '58.8100',
   '5. volume': '109967748'},
  '2017-12-29': {'1. open': '51.5100',
   '2. high': '56.3700',
   '3. low': '50.0800',
   '4. close': '54.8900',
   '5. volume': '108026004'},
  '2017-11-30': {'1. open': '51.8100',
   '2. high': '54.2200',
   '3. low': '48.9700',
   '4. close': '50.8800',
   '5. volume': '135723502'},
  '2017-10-31': {'1. open': '49.5500',
   '2. high': '52.2300',
   '3. low': '48.7000',
   '4. close': '51.1500',
   '5. volume': '120979484'},
  '2017-09-29': {'1. open': '43.7600',
   '2. high': '50.8300',
   '3. low': '43.4800',
   '4. close': '50.0500',
   '5. volume': '121830427'},
  '2017-08-31': {'1. open': '45.3300',
   '2. high': '46.1100',
   '3. low': '42.2650',
   '4. close': '43.6600',
   '5. volume': '145938111'},
  '2017-07-31': {'1. open': '44.2100',
   '2. high': '45.9400',
   '3. low': '42.5000',
   '4. close': '45.3700',
   '5. volume': '147684037'},
  '2017-06-30': {'1. open': '44.8000',
   '2. high': '46.7150',
   '3. low': '43.0200',
   '4. close': '43.9600',
   '5. volume': '197007983'},
  '2017-05-31': {'1. open': '47.9000',
   '2. high': '48.3300',
   '3. low': '44.0900',
   '4. close': '44.6900',
   '5. volume': '175459242'},
  '2017-04-28': {'1. open': '49.9000',
   '2. high': '50.6200',
   '3. low': '46.8599',
   '4. close': '47.9100',
   '5. volume': '126840461'},
  '2017-03-31': {'1. open': '48.0000',
   '2. high': '50.4100',
   '3. low': '43.2600',
   '4. close': '49.8700',
   '5. volume': '207334846'},
  '2017-02-28': {'1. open': '49.0000',
   '2. high': '50.9800',
   '3. low': '46.7100',
   '4. close': '47.5700',
   '5. volume': '148901904'},
  '2017-01-31': {'1. open': '50.8200',
   '2. high': '51.6800',
   '3. low': '47.1900',
   '4. close': '48.7600',
   '5. volume': '117622722'},
  '2016-12-30': {'1. open': '50.1400',
   '2. high': '53.1700',
   '3. low': '47.7300',
   '4. close': '50.1400',
   '5. volume': '136358661'},
  '2016-11-30': {'1. open': '43.9700',
   '2. high': '49.3200',
   '3. low': '42.3455',
   '4. close': '48.5200',
   '5. volume': '181493927'},
  '2016-10-31': {'1. open': '43.6800',
   '2. high': '45.8400',
   '3. low': '40.3700',
   '4. close': '43.4500',
   '5. volume': '174711791'},
  '2016-09-30': {'1. open': '40.9000',
   '2. high': '44.1600',
   '3. low': '39.0000',
   '4. close': '43.4700',
   '5. volume': '184750197'},
  '2016-08-31': {'1. open': '40.4100',
   '2. high': '43.6900',
   '3. low': '38.8000',
   '4. close': '41.0500',
   '5. volume': '163437121'},
  '2016-07-29': {'1. open': '43.8500',
   '2. high': '44.4200',
   '3. low': '39.6700',
   '4. close': '40.8200',
   '5. volume': '163282582'},
  '2016-06-30': {'1. open': '43.3700',
   '2. high': '48.4500',
   '3. low': '40.5200',
   '4. close': '43.6000',
   '5. volume': '187475094'},
  '2016-05-31': {'1. open': '47.5600',
   '2. high': '47.6900',
   '3. low': '41.1163',
   '4. close': '43.7900',
   '5. volume': '164380920'},
  '2016-04-29': {'1. open': '39.3900',
   '2. high': '49.3500',
   '3. low': '38.1900',
   '4. close': '47.7900',
   '5. volume': '199600637'},
  '2016-03-31': {'1. open': '34.0700',
   '2. high': '44.3950',
   '3. low': '33.3376',
   '4. close': '40.2700',
   '5. volume': '272594329'},
  '2016-02-29': {'1. open': '38.2400',
   '2. high': '39.0000',
   '3. low': '31.0500',
   '4. close': '33.8300',
   '5. volume': '365471028'},
  '2016-01-29': {'1. open': '46.4100',
   '2. high': '47.7700',
   '3. low': '32.7100',
   '4. close': '39.0800',
   '5. volume': '333637458'},
  '2015-12-31': {'1. open': '54.4600',
   '2. high': '54.7500',
   '3. low': '44.5600',
   '4. close': '46.6900',
   '5. volume': '222758114'},
  '2015-11-30': {'1. open': '53.0000',
   '2. high': '57.2400',
   '3. low': '51.0300',
   '4. close': '54.0500',
   '5. volume': '133306714'},
  '2015-10-30': {'1. open': '48.6900',
   '2. high': '56.6900',
   '3. low': '47.5400',
   '4. close': '53.3500',
   '5. volume': '194755532'},
  '2015-09-30': {'1. open': '47.7400',
   '2. high': '50.9100',
   '3. low': '45.7200',
   '4. close': '47.9600',
   '5. volume': '216723661'},
  '2015-08-31': {'1. open': '49.8000',
   '2. high': '51.8750',
   '3. low': '41.1000',
   '4. close': '49.1500',
   '5. volume': '262414790'},
  '2015-07-31': {'1. open': '61.5100',
   '2. high': '61.5100',
   '3. low': '50.2500',
   '4. close': '50.3400',
   '5. volume': '187213175'},
  '2015-06-30': {'1. open': '64.4600',
   '2. high': '64.4700',
   '3. low': '60.8600',
   '4. close': '61.4100',
   '5. volume': '119650513'},
  '2015-05-29': {'1. open': '67.7400',
   '2. high': '68.3600',
   '3. low': '63.1100',
   '4. close': '63.6800',
   '5. volume': '119149963'},
  '2015-04-30': {'1. open': '62.7100',
   '2. high': '69.7200',
   '3. low': '62.5700',
   '4. close': '67.9200',
   '5. volume': '149079826'},
  '2015-03-31': {'1. open': '65.3600',
   '2. high': '65.3600',
   '3. low': '60.5700',
   '4. close': '62.2600',
   '5. volume': '156270786'},
  '2015-02-27': {'1. open': '64.4700',
   '2. high': '70.1100',
   '3. low': '63.4100',
   '4. close': '65.2000',
   '5. volume': '161959966'},
  '2015-01-30': {'1. open': '68.5000',
   '2. high': '69.4800',
   '3. low': '60.6410',
   '4. close': '62.9800',
   '5. volume': '186239184'},
  '2014-12-31': {'1. open': '65.9300',
   '2. high': '71.3700',
   '3. low': '60.8400',
   '4. close': '69.0600',
   '5. volume': '219626879'},
  '2014-11-28': {'1. open': '72.2600',
   '2. high': '74.6800',
   '3. low': '65.6500',
   '4. close': '66.0700',
   '5. volume': '140927937'},
  '2014-10-31': {'1. open': '76.2700',
   '2. high': '76.5200',
   '3. low': '63.5600',
   '4. close': '72.1500',
   '5. volume': '205859315'},
  '2014-09-30': {'1. open': '81.0600',
   '2. high': '81.3700',
   '3. low': '75.9200',
   '4. close': '76.5200',
   '5. volume': '115300814'},
  '2014-08-29': {'1. open': '81.9100',
   '2. high': '82.1600',
   '3. low': '78.9100',
   '4. close': '81.2200',
   '5. volume': '97952100'},
  '2014-07-31': {'1. open': '86.2500',
   '2. high': '87.0900',
   '3. low': '82.3700',
   '4. close': '82.5000',
   '5. volume': '107113800'},
  '2014-06-30': {'1. open': '80.2100',
   '2. high': '86.4300',
   '3. low': '79.0500',
   '4. close': '85.7300',
   '5. volume': '105624700'},
  '2014-05-30': {'1. open': '75.0100',
   '2. high': '80.5400',
   '3. low': '74.0500',
   '4. close': '79.9400',
   '5. volume': '114117400'},
  '2014-04-30': {'1. open': '70.4700',
   '2. high': '75.3400',
   '3. low': '69.3300',
   '4. close': '74.3100',
   '5. volume': '128418400'},
  '2014-03-31': {'1. open': '66.3600',
   '2. high': '70.9900',
   '3. low': '65.9800',
   '4. close': '70.3500',
   '5. volume': '107774500'},
  '2014-02-28': {'1. open': '65.1000',
   '2. high': '66.8800',
   '3. low': '62.7400',
   '4. close': '66.5000',
   '5. volume': '114784800'},
  '2014-01-31': {'1. open': '70.2700',
   '2. high': '70.9200',
   '3. low': '64.3500',
   '4. close': '64.9500',
   '5. volume': '108416500'},
  '2013-12-31': {'1. open': '73.3900',
   '2. high': '73.4900',
   '3. low': '68.2300',
   '4. close': '70.6500',
   '5. volume': '101693500'},
  '2013-11-29': {'1. open': '73.5600',
   '2. high': '74.0700',
   '3. low': '71.7600',
   '4. close': '72.8000',
   '5. volume': '86692500'},
  '2013-10-31': {'1. open': '69.4600',
   '2. high': '74.5940',
   '3. low': '69.3200',
   '4. close': '73.3300',
   '5. volume': '108097900'},
  '2013-09-30': {'1. open': '66.9600',
   '2. high': '71.0900',
   '3. low': '66.5100',
   '4. close': '69.5100',
   '5. volume': '98423100'},
  '2013-08-30': {'1. open': '65.7200',
   '2. high': '67.9100',
   '3. low': '65.2900',
   '4. close': '66.3000',
   '5. volume': '115999500'},
  '2013-07-31': {'1. open': '60.7300',
   '2. high': '66.2500',
   '3. low': '60.7300',
   '4. close': '64.8600',
   '5. volume': '142572400'},
  '2013-06-28': {'1. open': '61.5800',
   '2. high': '62.5700',
   '3. low': '58.7100',
   '4. close': '60.5000',
   '5. volume': '110963000'},
  '2013-05-31': {'1. open': '60.1500',
   '2. high': '64.7690',
   '3. low': '59.9000',
   '4. close': '61.3400',
   '5. volume': '161555800'},
  '2013-04-30': {'1. open': '60.2000',
   '2. high': '60.7000',
   '3. low': '56.3800',
   '4. close': '60.4500',
   '5. volume': '136901900'},
  '2013-03-28': {'1. open': '57.9300',
   '2. high': '61.1900',
   '3. low': '57.2500',
   '4. close': '60.1000',
   '5. volume': '120907400'},
  '2013-02-28': {'1. open': '58.4700',
   '2. high': '58.8400',
   '3. low': '56.7800',
   '4. close': '57.9500',
   '5. volume': '175968600'},
  '2013-01-31': {'1. open': '59.1500',
   '2. high': '62.0500',
   '3. low': '57.8100',
   '4. close': '58.0000',
   '5. volume': '125010900'},
  '2012-12-31': {'1. open': '57.3300',
   '2. high': '59.6500',
   '3. low': '56.5700',
   '4. close': '57.9900',

## Obtaining 5 Year Percent Change Data

In [6]:
# Set base URL and parameters
url = "https://www.alphavantage.co/query?"
function = "TIME_SERIES_MONTHLY"
api_key = alpha_api_key


# Creating a list to store data from the API
percent_change_data = []

# Creating a series of ticker symbols to loop through 
esg_ticker_series = esg_data['ticker']



print("Beginning Data Retrieval     ")
print("-----------------------------")

# Adding a counter
found_count = 0
not_found = 0

# For loop that takes the ticker symbols from the ticker series, converts to JSON and gathers the data we're looking for
for stock in esg_ticker_series:
    
    # Created a try/except block to allow the code to continue to run if it was unable to find a ticker symbol
    try:
        percent_url = f'{url}function={function}&symbol={stock}&apikey={api_key}'
        percent_info_return = requests.get(percent_url)
        data = percent_info_return.json()
        five_yr_start = data['Monthly Time Series']['2019-03-29']['4. close']
        five_yr_end = data['Monthly Time Series']['2024-03-28']['4. close']
        perc_change = (((float(five_yr_end))-(float(five_yr_start)))/(float(five_yr_start)))*100
        annual_change = ((((float(five_yr_end))-(float(five_yr_start)))/(float(five_yr_start)))*100)/5

        # Appending percent_change_data list with the new data
        percent_change_data.append({"ticker": stock,
                                    "5 YR Open": five_yr_start,
                                    "5 YR Close": five_yr_end,
                                    "Percentage Change": perc_change,
                                    "Annualized % Change": annual_change})

        
        found_count += 1
        print(f'Record {found_count}: Data found for {stock}')

    except:
        print(f'skipping {stock}, data not found')
        not_found += 1

# We utilized our counters to get an idea what percentage of the desired data we captured
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")
print(f'{found_count} Records found successfully')
print("-----------------------------")
print(f'{not_found} Records not found')
print("-----------------------------")
success_rate = (found_count/(found_count+not_found))*100
print(f'{success_rate}% of total records found')
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Record 1: Data found for dis
Record 2: Data found for gm
Record 3: Data found for gww
Record 4: Data found for mhk
Record 5: Data found for lyv
Record 6: Data found for lvs
Record 7: Data found for clx
Record 8: Data found for aacg
Record 9: Data found for aal
Record 10: Data found for aame
Record 11: Data found for aaoi
Record 12: Data found for aaon
Record 13: Data found for aapl
skipping aatc, data not found
skipping aaww, data not found
skipping aaci, data not found
Record 14: Data found for aadi
Record 15: Data found for abeo
skipping abnb, data not found
Record 16: Data found for abio
skipping abmd, data not found
skipping abos, data not found
skipping absi, data not found
skipping abtx, data not found
Record 17: Data found for abus
skipping abvc, data not found
Record 18: Data found for acad
skipping acac, data not found
skipping accd, data not found
Record 19: Data found for acet
skipping abcl, data not found
Record 20: Data found for abcb
skipping acev, data not found
skipping achl, data not found
Record 21: Data found for achc
Record 22: Data found for aciw
Record 23: Data found for acls
Record 24: Data found for aciu
Record 25: Data found for achv
Record 26: Data found for acmr
Record 27: Data found for acor
Record 28: Data found for acnb
Record 29: Data found for acrs
skipping acrx, data not found
skipping act, data not found
Record 30: Data found for actg
skipping acva, data not found
skipping adag, data not found
skipping acxp, data not found
Record 31: Data found for adbe
Record 32: Data found for adap
Record 33: Data found for adma
skipping ades, data not found
Record 34: Data found for adi
Record 35: Data found for adil
skipping admp, data not found
skipping acer, data not found
skipping adoc, data not found
Record 36: Data found for adus
Record 37: Data found for acgl
skipping adpt, data not found
Record 38: Data found for adsk
Record 39: Data found for adp
skipping adtx, data not found
skipping adv, data not found
Record 40: Data found for advm
Record 41: Data found for aehr
Record 42: Data found for aehl
skipping aei, data not found
Record 43: Data found for aeis
Record 44: Data found for aep
Record 45: Data found for aemd
Record 46: Data found for aese
Record 47: Data found for aeye
skipping aeri, data not found
skipping aey, data not found
skipping afaq, data not found
Record 48: Data found for afmd
skipping afcg, data not found
skipping afbi, data not found
skipping afrm, data not found
skipping afib, data not found
Record 49: Data found for agen
skipping afya, data not found
skipping agfs, data not found
skipping agfy, data not found
skipping agil, data not found
Record 50: Data found for agmh
Record 51: Data found for agio
skipping agle, data not found
Record 52: Data found for agnc
skipping agri, data not found
Record 53: Data found for agrx
Record 54: Data found for agys
skipping agtc, data not found
Record 55: Data found for ahco
Record 56: Data found for ahpi
skipping aib, data not found
Record 57: Data found for adtn
Record 58: Data found for adn
Record 59: Data found for aiki
skipping akic, data not found
skipping aip, data not found
skipping akro, data not found
Record 60: Data found for airt
skipping aimc, data not found
Record 61: Data found for akba
Record 62: Data found for airg
skipping airs, data not found
Record 63: Data found for akam
skipping aku, data not found
skipping akus, data not found
Record 64: Data found for akts
Record 65: Data found for aktx
skipping albo, data not found
skipping akya, data not found
Record 66: Data found for alco
Record 67: Data found for aldx
Record 68: Data found for alec
skipping algm, data not found
skipping alf, data not found
Record 69: Data found for algn
skipping algs, data not found
skipping alhc, data not found
Record 70: Data found for alks
Record 71: Data found for alim
Record 72: Data found for algt
skipping aih, data not found
skipping alkt, data not found
Record 73: Data found for alny
Record 74: Data found for allt
Record 75: Data found for allo
Record 76: Data found for amat
Record 77: Data found for amd
skipping atvi, data not found
Record 78: Data found for avgo
Record 79: Data found for anss
Record 80: Data found for amzn
Record 81: Data found for aihs
Record 82: Data found for apa
Record 83: Data found for biib
Record 84: Data found for bkng
Record 85: Data found for cdns
Record 86: Data found for cdw
Record 87: Data found for chrw
Record 88: Data found for cinf
Record 89: Data found for chtr
Record 90: Data found for cmcsa
Record 91: Data found for cprt
Record 92: Data found for cost
Record 93: Data found for csx
Record 94: Data found for ctsh
Record 95: Data found for cme
Record 96: Data found for csco
Record 97: Data found for ctas
skipping ctxs, data not found
Record 98: Data found for czr
skipping dish, data not found
Record 99: Data found for dltr
Record 100: Data found for dxcm
Record 101: Data found for ea
Record 102: Data found for lnt
Record 103: Data found for fang
Record 104: Data found for ebay
Record 105: Data found for lkq
Record 106: Data found for googl
Record 107: Data found for mar
Record 108: Data found for mchp
Record 109: Data found for lrcx
Record 110: Data found for mdlz
Record 111: Data found for meta
Record 112: Data found for mktx
Record 113: Data found for mnst
Record 114: Data found for mrna
Record 115: Data found for mtch
Record 116: Data found for mpwr
Record 117: Data found for msft
Record 118: Data found for mu
Record 119: Data found for ndaq
Record 120: Data found for nlok
Record 121: Data found for ntrs
Record 122: Data found for nwl
Record 123: Data found for nvda
Record 124: Data found for allk
Record 125: Data found for nwsa
Record 126: Data found for odfl
Record 127: Data found for pcar
Record 128: Data found for nxpi
Record 129: Data found for orly
Record 130: Data found for payx
Record 131: Data found for pfg
Record 132: Data found for rost
Record 133: Data found for sbac
Record 134: Data found for qcom
Record 135: Data found for pool
Record 136: Data found for pep
Record 137: Data found for sbux
Record 138: Data found for reg
Record 139: Data found for qrvo
Record 140: Data found for ptc
Record 141: Data found for penn
Record 142: Data found for pypl
Record 143: Data found for regn
Record 144: Data found for amgn
Record 145: Data found for snps
Record 146: Data found for stx
Record 147: Data found for tech
Record 148: Data found for ter
Record 149: Data found for swks
Record 150: Data found for trmb
Record 151: Data found for trow
Record 152: Data found for ttwo
Record 153: Data found for tsla
Record 154: Data found for tsco
Record 155: Data found for txn
Record 156: Data found for tmus
Record 157: Data found for ual
Record 158: Data found for vrsk
Record 159: Data found for ulta
Record 160: Data found for vrtx
skipping vtrs, data not found
Record 161: Data found for vrsn
Record 162: Data found for wba
Record 163: Data found for ntap
Record 164: Data found for xel
Record 165: Data found for xray
Record 166: Data found for zbra
Record 167: Data found for aap
Record 168: Data found for zion
Record 169: Data found for wynn
Record 170: Data found for a
Record 171: Data found for abbv
skipping abc, data not found
Record 172: Data found for adm
Record 173: Data found for abt
Record 174: Data found for aee
Record 175: Data found for aes
Record 176: Data found for afl
Record 177: Data found for acn
Record 178: Data found for ajg
Record 179: Data found for aiz
Record 180: Data found for alk
Record 181: Data found for alb
Record 182: Data found for aig
Record 183: Data found for all
Record 184: Data found for alle
Record 185: Data found for amp
Record 186: Data found for ame
Record 187: Data found for amt
Record 188: Data found for aos
Record 189: Data found for apd
Record 190: Data found for aon
Record 191: Data found for anet
Record 192: Data found for aph
Record 193: Data found for ato
Record 194: Data found for awk
Record 195: Data found for are
Record 196: Data found for aptv
Record 197: Data found for avb
Record 198: Data found for avy
Record 199: Data found for ba
Record 200: Data found for bac
Record 201: Data found for bax
Record 202: Data found for bbwi
Record 203: Data found for bdx
Record 204: Data found for bio
Record 205: Data found for bby
Record 206: Data found for bk
Record 207: Data found for axp
Record 208: Data found for br
Record 209: Data found for bmy
Record 210: Data found for bro
Record 211: Data found for azo
Record 212: Data found for bsx
Record 213: Data found for bx
Record 214: Data found for bxp
Record 215: Data found for sivb
Record 216: Data found for c
Record 217: Data found for cat
skipping carr, data not found
Record 218: Data found for cbre
Record 219: Data found for cci
Record 220: Data found for cday
Record 221: Data found for cma
Record 222: Data found for dhi
Record 223: Data found for dov
Record 224: Data found for dri
Record 225: Data found for ce
Record 226: Data found for dg
Record 227: Data found for cmg
Record 228: Data found for dgx
Record 229: Data found for ccl
Record 230: Data found for chd
skipping dow, data not found
Record 231: Data found for dfs
Record 232: Data found for duk
skipping dre, data not found
Record 233: Data found for cf
Record 234: Data found for dvn
Record 235: Data found for ecl
Record 236: Data found for hd
Record 237: Data found for dte
Record 238: Data found for eix
Record 239: Data found for glw
Record 240: Data found for dva
Record 241: Data found for wdc
Record 242: Data found for gs
Record 243: Data found for dxc
Record 244: Data found for etn
Record 245: Data found for ed
Record 246: Data found for hsy
Record 247: Data found for jnj
Record 248: Data found for jpm
Record 249: Data found for ko
Record 250: Data found for kmx
Record 251: Data found for ldos
Record 252: Data found for leg
Record 253: Data found for mcd
Record 254: Data found for lin
Record 255: Data found for lumn
Record 256: Data found for lyb
Record 257: Data found for mco
Record 258: Data found for mck
Record 259: Data found for mas
Record 260: Data found for low
Record 261: Data found for mdt
Record 262: Data found for mkc
Record 263: Data found for met
Record 264: Data found for mgm
Record 265: Data found for mmc
Record 266: Data found for mo
Record 267: Data found for bwa
Record 268: Data found for mrk
Record 269: Data found for mro
Record 270: Data found for mpc
Record 271: Data found for ms
Record 272: Data found for mtb
Record 273: Data found for mtd
Record 274: Data found for msi
Record 275: Data found for nee
Record 276: Data found for msci
Record 277: Data found for nclh
Record 278: Data found for ni
Record 279: Data found for noc
Record 280: Data found for now
Record 281: Data found for nue
skipping nlsn, data not found
Record 282: Data found for nsc
Record 283: Data found for nvr
Record 284: Data found for pgr
Record 285: Data found for pfe
Record 286: Data found for phm
Record 287: Data found for ph
skipping pki, data not found
Record 288: Data found for pld
Record 289: Data found for ppg
Record 290: Data found for psa
Record 291: Data found for pnc
Record 292: Data found for pm
Record 293: Data found for pkg
Record 294: Data found for psx
Record 295: Data found for pru
Record 296: Data found for pnr
Record 297: Data found for pnw
Record 298: Data found for ppl
Record 299: Data found for pwr
Record 300: Data found for rjf
Record 301: Data found for rf
Record 302: Data found for rcl
Record 303: Data found for rl
Record 304: Data found for pvh
Record 305: Data found for rhi
Record 306: Data found for pxd
Record 307: Data found for rol
Record 308: Data found for rmd
Record 309: Data found for schw
Record 310: Data found for rok
Record 311: Data found for tdg
Record 312: Data found for see
Record 313: Data found for rop
Record 314: Data found for swk
Record 315: Data found for stz
Record 316: Data found for syk
Record 317: Data found for syy
Record 318: Data found for shw
Record 319: Data found for spgi
Record 320: Data found for ste
Record 321: Data found for syf
Record 322: Data found for spg
Record 323: Data found for sre
Record 324: Data found for so
Record 325: Data found for stt
Record 326: Data found for sna
Record 327: Data found for rtx
Record 328: Data found for hig
Record 329: Data found for tel
Record 330: Data found for tfx
Record 331: Data found for tfc
Record 332: Data found for tdy
Record 333: Data found for tgt
Record 334: Data found for tjx
Record 335: Data found for tpr
Record 336: Data found for trv
Record 337: Data found for tmo
Record 338: Data found for tt
Record 339: Data found for tsn
Record 340: Data found for tyl
Record 341: Data found for txt
Record 342: Data found for unh
Record 343: Data found for ups
Record 344: Data found for udr
Record 345: Data found for uhs
Record 346: Data found for mos
Record 347: Data found for usb
Record 348: Data found for uri
Record 349: Data found for vno
Record 350: Data found for vlo
Record 351: Data found for vfc
Record 352: Data found for v
Record 353: Data found for vtr
Record 354: Data found for vmc
Record 355: Data found for wec
Record 356: Data found for well
Record 357: Data found for wat
Record 358: Data found for wm
Record 359: Data found for wab
Record 360: Data found for wmb
Record 361: Data found for wfc
Record 362: Data found for whr
Record 363: Data found for wst
Record 364: Data found for wrb
Record 365: Data found for wmt
Record 366: Data found for wu
Record 367: Data found for yum
Record 368: Data found for xyl
Record 369: Data found for wy
Record 370: Data found for wrk
Record 371: Data found for xom
Record 372: Data found for zbh
Record 373: Data found for zts
Record 374: Data found for de
Record 375: Data found for dd
Record 376: Data found for d
Record 377: Data found for cvs
Record 378: Data found for dal
Record 379: Data found for crm
Record 380: Data found for cvx
skipping ctva, data not found
Record 381: Data found for ctra
Record 382: Data found for ctlt
Record 383: Data found for cpb
Record 384: Data found for crl
Record 385: Data found for cop
Record 386: Data found for coo
Record 387: Data found for cof
Record 388: Data found for cnc
Record 389: Data found for cnp
Record 390: Data found for cms
Record 391: Data found for cmi
Record 392: Data found for cl
Record 393: Data found for mmm
Record 394: Data found for cfg
Record 395: Data found for cag
Record 396: Data found for ci
Record 397: Data found for cah
Record 398: Data found for ma
Record 399: Data found for lw
Record 400: Data found for maa
Record 401: Data found for mlm
Record 402: Data found for luv
Record 403: Data found for lnc
Record 404: Data found for len
Record 405: Data found for pg
skipping ogn, data not found
Record 406: Data found for oxy
Record 407: Data found for dell
Record 408: Data found for payc
Record 409: Data found for peg
Record 410: Data found for oke
Record 411: Data found for nrg
Record 412: Data found for l
Record 413: Data found for omc
Record 414: Data found for orcl
Record 415: Data found for o
Record 416: Data found for dpz
Record 417: Data found for t
Record 418: Data found for unp
Record 419: Data found for nem
Record 420: Data found for fdx
Record 421: Data found for nke
Record 422: Data found for f
Record 423: Data found for lmt
Record 424: Data found for rsg
Record 425: Data found for enph
Record 426: Data found for exc
Record 427: Data found for expd
Record 428: Data found for expe
Record 429: Data found for fast
Record 430: Data found for ffiv
Record 431: Data found for fisv
Record 432: Data found for eqix
Record 433: Data found for ftnt
Record 434: Data found for etsy
Record 435: Data found for ben
Record 436: Data found for dlr
Record 437: Data found for dhr
Record 438: Data found for efx
Record 439: Data found for el
Record 440: Data found for emn
Record 441: Data found for emr
Record 442: Data found for eog
Record 443: Data found for eqr
Record 444: Data found for es
Record 445: Data found for ess
Record 446: Data found for fitb
Record 447: Data found for etr
Record 448: Data found for exr
Record 449: Data found for ew
skipping foxa, data not found
Record 450: Data found for fcx
Record 451: Data found for fe
skipping flt, data not found
Record 452: Data found for fis
skipping frc, data not found
Record 453: Data found for fmc
Record 454: Data found for frt
Record 455: Data found for ftv
Record 456: Data found for gps
Record 457: Data found for grmn
Record 458: Data found for it
Record 459: Data found for lly
skipping re, data not found
Record 460: Data found for evrg
skipping fbhs, data not found
Record 461: Data found for gild
Record 462: Data found for holx
Record 463: Data found for hsic
Record 464: Data found for hon
Record 465: Data found for hst
Record 466: Data found for gd
Record 467: Data found for has
Record 468: Data found for hban
Record 469: Data found for gl
Record 470: Data found for gpc
Record 471: Data found for gnrc
Record 472: Data found for gpn
Record 473: Data found for hca
Record 474: Data found for hbi
Record 475: Data found for hii
Record 476: Data found for hpe
Record 477: Data found for hes
Record 478: Data found for hlt
Record 479: Data found for hrl
Record 480: Data found for hpq
Record 481: Data found for hum
Record 482: Data found for hwm
skipping peak, data not found
Record 483: Data found for gis
Record 484: Data found for ge
Record 485: Data found for spot
skipping trtn, data not found
Record 486: Data found for trtx
Record 487: Data found for tru
Record 488: Data found for yeti
Record 489: Data found for yelp
Record 490: Data found for yext
Record 491: Data found for spr
skipping ysg, data not found
Record 492: Data found for yrd
Record 493: Data found for yumc
Record 494: Data found for trox
Record 495: Data found for zepp
skipping zev, data not found
Record 496: Data found for zuo
skipping zim, data not found
Record 497: Data found for zyme
Record 498: Data found for zws
skipping you, data not found
skipping zen, data not found
Record 499: Data found for plxs
Record 500: Data found for ship
skipping shls, data not found
Record 501: Data found for shoo
Record 502: Data found for shyf
Record 503: Data found for sibn
Record 504: Data found for sieb
Record 505: Data found for plya
skipping wwe, data not found
Record 506: Data found for pmcb
Record 507: Data found for www
Record 508: Data found for xhr
Record 509: Data found for x
skipping xpev, data not found
Record 510: Data found for xpo
Record 511: Data found for xin
skipping xl, data not found
Record 512: Data found for xyf
skipping y, data not found
skipping yala, data not found
Record 513: Data found for wts
skipping sien, data not found
Record 514: Data found for hain
Record 515: Data found for mtc
skipping mtcr, data not found
Record 516: Data found for mtem
Record 517: Data found for mtls
Record 518: Data found for mtex
Record 519: Data found for mtrx
Record 520: Data found for halo
Record 521: Data found for hall
Record 522: Data found for mvbf
skipping mvst, data not found
Record 523: Data found for mvis
skipping mxct, data not found
Record 524: Data found for mygn
Record 525: Data found for myfw
Record 526: Data found for mxl
Record 527: Data found for mymd
skipping myps, data not found
skipping mttr, data not found
Record 528: Data found for mtsi
Record 529: Data found for clro
skipping clsn, data not found
Record 530: Data found for gure
Record 531: Data found for gvp
Record 532: Data found for gyro
Record 533: Data found for gwrs
Record 534: Data found for ha
Record 535: Data found for clsk
Record 536: Data found for clsd
skipping haac, data not found
Record 537: Data found for hafc
skipping clst, data not found
Record 538: Data found for clwt
skipping clxt, data not found
skipping cmbm, data not found
Record 539: Data found for cmco
skipping evk, data not found
skipping clvs, data not found
skipping clvr, data not found
skipping happ, data not found
Record 540: Data found for hbcp
Record 541: Data found for hbio
Record 542: Data found for hbnc
skipping hbt, data not found
skipping hcat, data not found

In [7]:
#Show the newly created DataFrame
percent_change_df = pd.DataFrame(percent_change_data)
percent_change_df.head()

  ticker 5 YR Open 5 YR Close  Percentage Change  Annualized % Change
0    dis  111.0300   122.3600          10.204449             2.040890
1     gm   37.1000    45.3500          22.237197             4.447439
2    gww  300.9300  1017.3000         238.052039            47.610408
3    mhk  126.1500   130.8900           3.757432             0.751486
4    lyv   63.5400   105.7700          66.462071            13.292414

In [8]:
#This was an example API pull that we used to determine what data we could obtain and identify how to pull the values we were looking for
#ticker "cop" example trial of API pull, using EARNINGS function

url = f"https://www.alphavantage.co/query?function=EARNINGS&symbol=cop&apikey=SU7P624CW7MEDZWK"

stock_info_return = requests.get(url)
data = stock_info_return.json()
data

{'symbol': 'COP',
 'annualEarnings': [{'fiscalDateEnding': '2024-03-31', 'reportedEPS': '0'},
  {'fiscalDateEnding': '2023-12-31', 'reportedEPS': '8.78'},
  {'fiscalDateEnding': '2022-12-31', 'reportedEPS': '13.49'},
  {'fiscalDateEnding': '2021-12-31', 'reportedEPS': '6'},
  {'fiscalDateEnding': '2020-12-31', 'reportedEPS': '-0.97'},
  {'fiscalDateEnding': '2019-12-31', 'reportedEPS': '3.59'},
  {'fiscalDateEnding': '2018-12-31', 'reportedEPS': '4.54'},
  {'fiscalDateEnding': '2017-12-31', 'reportedEPS': '0.73'},
  {'fiscalDateEnding': '2016-12-31', 'reportedEPS': '-2.66'},
  {'fiscalDateEnding': '2015-12-31', 'reportedEPS': '-1.39'},
  {'fiscalDateEnding': '2014-12-31', 'reportedEPS': '5.31'},
  {'fiscalDateEnding': '2013-12-31', 'reportedEPS': '5.7'},
  {'fiscalDateEnding': '2012-12-31', 'reportedEPS': '6.11'},
  {'fiscalDateEnding': '2011-12-31', 'reportedEPS': '8.77'},
  {'fiscalDateEnding': '2010-12-31', 'reportedEPS': '5.96'},
  {'fiscalDateEnding': '2009-12-31', 'reportedEPS': '3.65'},
  {'fiscalDateEnding': '2008-12-31', 'reportedEPS': '10.61'},
  {'fiscalDateEnding': '2007-12-31', 'reportedEPS': '9.14'},
  {'fiscalDateEnding': '2006-12-31', 'reportedEPS': '9.99'},
  {'fiscalDateEnding': '2005-12-31', 'reportedEPS': '9.35'},
  {'fiscalDateEnding': '2004-12-31', 'reportedEPS': '5.8'},
  {'fiscalDateEnding': '2003-12-31', 'reportedEPS': '3.35'},
  {'fiscalDateEnding': '2002-12-31', 'reportedEPS': '1.49'},
  {'fiscalDateEnding': '2001-12-31', 'reportedEPS': '3.11'},
  {'fiscalDateEnding': '2000-12-31', 'reportedEPS': '3.74'},
  {'fiscalDateEnding': '1999-12-31', 'reportedEPS': '1.09'},
  {'fiscalDateEnding': '1998-12-31', 'reportedEPS': '0.365'},
  {'fiscalDateEnding': '1997-12-31', 'reportedEPS': '1.75'},
  {'fiscalDateEnding': '1996-12-31', 'reportedEPS': '1.7'}],
 'quarterlyEarnings': [{'fiscalDateEnding': '2023-12-31',
   'reportedDate': '2024-02-08',
   'reportedEPS': '2.4',
   'estimatedEPS': '2.09',
   'surprise': '0.31',
   'surprisePercentage': '14.8325'},
  {'fiscalDateEnding': '2023-09-30',
   'reportedDate': '2023-11-02',
   'reportedEPS': '2.16',
   'estimatedEPS': '2.08',
   'surprise': '0.08',
   'surprisePercentage': '3.8462'},
  {'fiscalDateEnding': '2023-06-30',
   'reportedDate': '2023-08-03',
   'reportedEPS': '1.84',
   'estimatedEPS': '1.95',
   'surprise': '-0.11',
   'surprisePercentage': '-5.641'},
  {'fiscalDateEnding': '2023-03-31',
   'reportedDate': '2023-05-04',
   'reportedEPS': '2.38',
   'estimatedEPS': '2.05',
   'surprise': '0.33',
   'surprisePercentage': '16.0976'},
  {'fiscalDateEnding': '2022-12-31',
   'reportedDate': '2023-02-02',
   'reportedEPS': '2.71',
   'estimatedEPS': '2.81',
   'surprise': '-0.1',
   'surprisePercentage': '-3.5587'},
  {'fiscalDateEnding': '2022-09-30',
   'reportedDate': '2022-11-03',
   'reportedEPS': '3.6',
   'estimatedEPS': '3.46',
   'surprise': '0.14',
   'surprisePercentage': '4.0462'},
  {'fiscalDateEnding': '2022-06-30',
   'reportedDate': '2022-08-04',
   'reportedEPS': '3.91',
   'estimatedEPS': '3.8',
   'surprise': '0.11',
   'surprisePercentage': '2.8947'},
  {'fiscalDateEnding': '2022-03-31',
   'reportedDate': '2022-05-05',
   'reportedEPS': '3.27',
   'estimatedEPS': '3.03',
   'surprise': '0.24',
   'surprisePercentage': '7.9208'},
  {'fiscalDateEnding': '2021-12-31',
   'reportedDate': '2022-02-03',
   'reportedEPS': '2.27',
   'estimatedEPS': '2.18',
   'surprise': '0.09',
   'surprisePercentage': '4.1284'},
  {'fiscalDateEnding': '2021-09-30',
   'reportedDate': '2021-11-02',
   'reportedEPS': '1.77',
   'estimatedEPS': '1.51',
   'surprise': '0.26',
   'surprisePercentage': '17.2185'},
  {'fiscalDateEnding': '2021-06-30',
   'reportedDate': '2021-08-03',
   'reportedEPS': '1.27',
   'estimatedEPS': '1.1',
   'surprise': '0.17',
   'surprisePercentage': '15.4545'},
  {'fiscalDateEnding': '2021-03-31',
   'reportedDate': '2021-05-04',
   'reportedEPS': '0.69',
   'estimatedEPS': '0.51',
   'surprise': '0.18',
   'surprisePercentage': '35.2941'},
  {'fiscalDateEnding': '2020-12-31',
   'reportedDate': '2021-02-02',
   'reportedEPS': '-0.19',
   'estimatedEPS': '-0.28',
   'surprise': '0.09',
   'surprisePercentage': '32.1429'},
  {'fiscalDateEnding': '2020-09-30',
   'reportedDate': '2020-10-29',
   'reportedEPS': '-0.31',
   'estimatedEPS': '-0.32',
   'surprise': '0.01',
   'surprisePercentage': '3.125'},
  {'fiscalDateEnding': '2020-06-30',
   'reportedDate': '2020-07-30',
   'reportedEPS': '-0.92',
   'estimatedEPS': '-0.58',
   'surprise': '-0.34',
   'surprisePercentage': '-58.6207'},
  {'fiscalDateEnding': '2020-03-31',
   'reportedDate': '2020-04-30',
   'reportedEPS': '0.45',
   'estimatedEPS': '0.23',
   'surprise': '0.22',
   'surprisePercentage': '95.6522'},
  {'fiscalDateEnding': '2019-12-31',
   'reportedDate': '2020-02-04',
   'reportedEPS': '0.76',
   'estimatedEPS': '0.8',
   'surprise': '-0.04',
   'surprisePercentage': '-5'},
  {'fiscalDateEnding': '2019-09-30',
   'reportedDate': '2019-10-29',
   'reportedEPS': '0.82',
   'estimatedEPS': '0.73',
   'surprise': '0.09',
   'surprisePercentage': '12.3288'},
  {'fiscalDateEnding': '2019-06-30',
   'reportedDate': '2019-07-30',
   'reportedEPS': '1.01',
   'estimatedEPS': '1.03',
   'surprise': '-0.02',
   'surprisePercentage': '-1.9417'},
  {'fiscalDateEnding': '2019-03-31',
   'reportedDate': '2019-04-30',
   'reportedEPS': '1',
   'estimatedEPS': '0.9',
   'surprise': '0.1',
   'surprisePercentage': '11.1111'},
  {'fiscalDateEnding': '2018-12-31',
   'reportedDate': '2019-01-31',
   'reportedEPS': '1.13',
   'estimatedEPS': '1.01',
   'surprise': '0.12',
   'surprisePercentage': '11.8812'},
  {'fiscalDateEnding': '2018-09-30',
   'reportedDate': '2018-10-25',
   'reportedEPS': '1.36',
   'estimatedEPS': '1.18',
   'surprise': '0.18',
   'surprisePercentage': '15.2542'},
  {'fiscalDateEnding': '2018-06-30',
   'reportedDate': '2018-07-26',
   'reportedEPS': '1.09',
   'estimatedEPS': '1.08',
   'surprise': '0.01',
   'surprisePercentage': '0.9259'},
  {'fiscalDateEnding': '2018-03-31',
   'reportedDate': '2018-04-26',
   'reportedEPS': '0.96',
   'estimatedEPS': '0.73',
   'surprise': '0.23',
   'surprisePercentage': '31.5068'},
  {'fiscalDateEnding': '2017-12-31',
   'reportedDate': '2018-02-01',
   'reportedEPS': '0.45',
   'estimatedEPS': '0.46',
   'surprise': '-0.01',
   'surprisePercentage': '-2.1739'},
  {'fiscalDateEnding': '2017-09-30',
   'reportedDate': '2017-10-26',
   'reportedEPS': '0.16',
   'estimatedEPS': '0.09',
   'surprise': '0.07',
   'surprisePercentage': '77.7778'},
  {'fiscalDateEnding': '2017-06-30',
   'reportedDate': '2017-07-27',
   'reportedEPS': '0.14',
   'estimatedEPS': '-0.01',
   'surprise': '0.15',
   'surprisePercentage': '1500'},
  {'fiscalDateEnding': '2017-03-31',
   'reportedDate': '2017-05-02',
   'reportedEPS': '-0.02',
   'estimatedEPS': '0.01',
   'surprise': '-0.03',
   'surprisePercentage': '-300'},
  {'fiscalDateEnding': '2016-12-31',
   'reportedDate': '2017-02-02',
   'reportedEPS': '-0.26',
   'estimatedEPS': '-0.42',
   'surprise': '0.16',
   'surprisePercentage': '38.0952'},
  {'fiscalDateEnding': '2016-09-30',
   'reportedDate': '2016-10-27',
   'reportedEPS': '-0.66',
   'estimatedEPS': '-0.68',
   'surprise': '0.02',
   'surprisePercentage': '2.9412'},
  {'fiscalDateEnding': '2016-06-30',
   'reportedDate': '2016-07-28',
   'reportedEPS': '-0.79',
   'estimatedEPS': '-0.61',
   'surprise': '-0.18',
   'surprisePercentage': '-29.5082'},
  {'fiscalDateEnding': '2016-03-31',
   'reportedDate': '2016-04-28',
   'reportedEPS': '-0.95',
   'estimatedEPS': '-1.05',
   'surprise': '0.1',
   'surprisePercentage': '9.5238'},
  {'fiscalDateEnding': '2015-12-31',
   'reportedDate': '2016-02-04',
   'reportedEPS': '-0.9',
   'estimatedEPS': '-0.65',
   'surprise': '-0.25',
   'surprisePercentage': '-38.4615'},
  {'fiscalDateEnding': '2015-09-30',
   'reportedDate': '2015-10-29',
   'reportedEPS': '-0.38',
   'estimatedEPS': '-0.37',
   'surprise': '-0.01',
   'surprisePercentage': '-2.7027'},
  {'fiscalDateEnding': '2015-06-30',
   'reportedDate': '2015-07-30',
   'reportedEPS': '0.07',
   'estimatedEPS': '0.04',
   'surprise': '0.03',
   'surprisePercentage': '75'},
  {'fiscalDateEnding': '2015-03-31',
   'reportedDate': '2015-04-30',
   'reportedEPS': '-0.18',
   'estimatedEPS': '-0.19',
   'surprise': '0.01',
   'surprisePercentage': '5.2632'},
  {'fiscalDateEnding': '2014-12-31',
   'reportedDate': '2015-01-29',
   'reportedEPS': '0.6',
   'estimatedEPS': '0.59',
   'surprise': '0.01',
   'surprisePercentage': '1.6949'},
  {'fiscalDateEnding': '2014-09-30',
   'reportedDate': '2014-10-30',
   'reportedEPS': '1.29',
   'estimatedEPS': '1.2',
   'surprise': '0.09',
   'surprisePercentage': '7.5'},
  {'fiscalDateEnding': '2014-06-30',
   'reportedDate': '2014-07-31',
   'reportedEPS': '1.61',
   'estimatedEPS': '1.6',
   'surprise': '0.01',
   'surprisePercentage': '0.625'},
  {'fiscalDateEnding': '2014-03-31',
   'reportedDate': '2014-05-01',
   'reportedEPS': '1.81',
   'estimatedEPS': '1.56',
   'surprise': '0.25',
   'surprisePercentage': '16.0256'},
  {'fiscalDateEnding': '2013-12-31',
   'reportedDate': '2014-01-30',
   'reportedEPS': '1.4',
   'estimatedEPS': '1.31',
   'surprise': '0.09',
   'surprisePercentage': '6.8702'},
  {'fiscalDateEnding': '2013-09-30',
   'reportedDate': '2013-10-31',
   'reportedEPS': '1.47',
   'estimatedEPS': '1.45',
   'surprise': '0.02',
   'surprisePercentage': '1.3793'},
  {'fiscalDateEnding': '2013-06-30',
   'reportedDate': '2013-08-01',
   'reportedEPS': '1.41',
   'estimatedEPS': '1.29',
   'surprise': '0.12',
   'surprisePercentage': '9.3023'},
  {'fiscalDateEnding': '2013-03-31',
   'reportedDate': '2013-04-25',
   'reportedEPS': '1.42',
   'estimatedEPS': '1.41',
   'surprise': '0.01',
   'surprisePercentage': '0.7092'},
  {'fiscalDateEnding': '2012-12-31',
   'reportedDate': '2013-01-30',
   'reportedEPS': '1.43',
   'estimatedEPS': '1.42',
   'surprise': '0.01',
   'surprisePercentage': '0.7042'},
  {'fiscalDateEnding': '2012-09-30',
   'reportedDate': '2012-10-25',
   'reportedEPS': '1.44',
   'estimatedEPS': '1.19',
   'surprise': '0.25',
   'surprisePercentage': '21.0084'},
  {'fiscalDateEnding': '2012-06-30',
   'reportedDate': '2012-07-25',
   'reportedEPS': '1.22',
   'estimatedEPS': '1.17',
   'surprise': '0.05',
   'surprisePercentage': '4.2735'},
  {'fiscalDateEnding': '2012-03-31',
   'reportedDate': '2012-04-23',
   'reportedEPS': '2.02',
   'estimatedEPS': '2.08',
   'surprise': '-0.06',
   'surprisePercentage': '-2.8846'},
  {'fiscalDateEnding': '2011-12-31',
   'reportedDate': '2012-01-25',
   'reportedEPS': '2.02',
   'estimatedEPS': '1.76',
   'surprise': '0.26',
   'surprisePercentage': '14.7727'},
  {'fiscalDateEnding': '2011-09-30',
   'reportedDate': '2011-10-26',
   'reportedEPS': '2.52',
   'estimatedEPS': '2.18',
   'surprise': '0.34',
   'surprisePercentage': '15.5963'},
  {'fiscalDateEnding': '2011-06-30',
   'reportedDate': '2011-07-27',
   'reportedEPS': '2.41',
   'estimatedEPS': '2.19',
   'surprise': '0.22',
   'surprisePercentage': '10.0457'},
  {'fiscalDateEnding': '2011-03-31',
   'reportedDate': '2011-04-27',
   'reportedEPS': '1.82',
   'estimatedEPS': '1.97',
   'surprise': '-0.15',
   'surprisePercentage': '-7.6142'},
  {'fiscalDateEnding': '2010-12-31',
   'reportedDate': '2011-01-26',
   'reportedEPS': '1.32',
   'estimatedEPS': '1.32',
   'surprise': '0',
   'surprisePercentage': '0'},
  {'fiscalDateEnding': '2010-09-30',
   'reportedDate': '2010-10-27',
   'reportedEPS': '1.5',
   'estimatedEPS': '1.46',
   'surprise': '0.04',
   'surprisePercentage': '2.7397'},
  {'fiscalDateEnding': '2010-06-30',
   'reportedDate': '2010-07-28',
   'reportedEPS': '1.67',
   'estimatedEPS': '1.56',
   'surprise': '0.11',
   'surprisePercentage': '7.0513'},
  {'fiscalDateEnding': '2010-03-31',
   'reportedDate': '2010-04-29',
   'reportedEPS': '1.47',
   'estimatedEPS': '1.38',
   'surprise': '0.09',
   'surprisePercentage': '6.5217'},
  {'fiscalDateEnding': '2009-12-31',
   'reportedDate': '2010-01-27',
   'reportedEPS': '1.16',
   'estimatedEPS': '1.12',
   'surprise': '0.04',
   'surprisePercentage': '3.5714'},
  {'fiscalDateEnding': '2009-09-30',
   'reportedDate': '2009-10-28',
   'reportedEPS': '1',
   'estimatedEPS': '0.94',
   'surprise': '0.06',
   'surprisePercentage': '6.383'},
  {'fiscalDateEnding': '2009-06-30',
   'reportedDate': '2009-07-29',
   'reportedEPS': '0.97',
   'estimatedEPS': '0.85',
   'surprise': '0.12',
   'surprisePercentage': '14.1176'},
  {'fiscalDateEnding': '2009-03-31',
   'reportedDate': '2009-04-23',
   'reportedEPS': '0.52',
   'estimatedEPS': '0.4',
   'surprise': '0.12',
   'surprisePercentage': '30'},
  {'fiscalDateEnding': '2008-12-31',
   'reportedDate': '2009-01-28',
   'reportedEPS': '1.28',
   'estimatedEPS': '1.21',
   'surprise': '0.07',
   'surprisePercentage': '5.7851'},
  {'fiscalDateEnding': '2008-09-30',
   'reportedDate': '2008-10-22',
   'reportedEPS': '3.32',
   'estimatedEPS': '3.06',
   'surprise': '0.26',
   'surprisePercentage': '8.4967'},
  {'fiscalDateEnding': '2008-06-30',
   'reportedDate': '2008-07-23',
   'reportedEPS': '3.49',
   'estimatedEPS': '3.45',
   'surprise': '0.04',
   'surprisePercentage': '1.1594'},
  {'fiscalDateEnding': '2008-03-31',
   'reportedDate': '2008-04-24',
   'reportedEPS': '2.52',
   'estimatedEPS': '2.42',
   'surprise': '0.1',
   'surprisePercentage': '4.1322'},
  {'fiscalDateEnding': '2007-12-31',
   'reportedDate': '2008-01-23',
   'reportedEPS': '2.48',
   'estimatedEPS': '2.38',
   'surprise': '0.1',
   'surprisePercentage': '4.2017'},
  {'fiscalDateEnding': '2007-09-30',
   'reportedDate': '2007-10-24',
   'reportedEPS': '1.94',
   'estimatedEPS': '2.17',
   'surprise': '-0.23',
   'surprisePercentage': '-10.5991'},
  {'fiscalDateEnding': '2007-06-30',
   'reportedDate': '2007-07-25',
   'reportedEPS': '2.9',
   'estimatedEPS': '2.68',
   'surprise': '0.22',
   'surprisePercentage': '8.209'},
  {'fiscalDateEnding': '2007-03-31',
   'reportedDate': '2007-04-25',
   'reportedEPS': '1.82',
   'estimatedEPS': '1.9',
   'surprise': '-0.08',
   'surprisePercentage': '-4.2105'},
  {'fiscalDateEnding': '2006-12-31',
   'reportedDate': '2007-01-24',
   'reportedEPS': '2.1',
   'estimatedEPS': '1.95',
   'surprise': '0.15',
   'surprisePercentage': '7.6923'},
  {'fiscalDateEnding': '2006-09-30',
   'reportedDate': '2006-10-25',
   'reportedEPS': '2.68',
   'estimatedEPS': '2.4',
   'surprise': '0.28',
   'surprisePercentage': '11.6667'},
  {'fiscalDateEnding': '2006-06-30',
   'reportedDate': '2006-07-26',
   'reportedEPS': '2.87',
   'estimatedEPS': '2.81',
   'surprise': '0.06',
   'surprisePercentage': '2.1352'},
  {'fiscalDateEnding': '2006-03-31',
   'reportedDate': '2006-04-26',
   'reportedEPS': '2.34',
   'estimatedEPS': '2.34',
   'surprise': '0',
   'surprisePercentage': '0'},
  {'fiscalDateEnding': '2005-12-31',
   'reportedDate': '2006-01-25',
   'reportedEPS': '2.69',
   'estimatedEPS': '2.62',
   'surprise': '0.07',
   'surprisePercentage': '2.6718'},
  {'fiscalDateEnding': '2005-09-30',
   'reportedDate': '2005-10-26',
   'reportedEPS': '2.68',
   'estimatedEPS': '2.57',
   'surprise': '0.11',
   'surprisePercentage': '4.2802'},
  {'fiscalDateEnding': '2005-06-30',
   'reportedDate': '2005-07-27',
   'reportedEPS': '2.21',
   'estimatedEPS': '2.02',
   'surprise': '0.19',
   'surprisePercentage': '9.4059'},
  {'fiscalDateEnding': '2005-03-31',
   'reportedDate': '2005-04-27',
   'reportedEPS': '1.77',
   'estimatedEPS': '1.65',
   'surprise': '0.12',
   'surprisePercentage': '7.2727'},
  {'fiscalDateEnding': '2004-12-31',
   'reportedDate': '2005-01-26',
   'reportedEPS': '1.76',
   'estimatedEPS': '1.54',
   'surprise': '0.22',
   'surprisePercentage': '14.2857'},
  {'fiscalDateEnding': '2004-09-30',
   'reportedDate': '2004-10-27',
   'reportedEPS': '1.44',
   'estimatedEPS': '1.29',
   'surprise': '0.15',
   'surprisePercentage': '11.6279'},
  {'fiscalDateEnding': '2004-06-30',
   'reportedDate': '2004-07-28',
   'reportedEPS': '1.44',
   'estimatedEPS': '1.46',
   'surprise': '-0.02',
   'surprisePercentage': '-1.3699'},
  {'fiscalDateEnding': '2004-03-31',
   'reportedDate': '2004-04-28',
   'reportedEPS': '1.16',
   'estimatedEPS': '1',
   'surprise': '0.16',
   'surprisePercentage': '16'},
  {'fiscalDateEnding': '2003-12-31',
   'reportedDate': '2004-01-28',
   'reportedEPS': '0.72',
   'estimatedEPS': '0.71',
   'surprise': '0.01',
   'surprisePercentage': '1.4085'},
  {'fiscalDateEnding': '2003-09-30',
   'reportedDate': '2003-10-29',
   'reportedEPS': '0.91',
   'estimatedEPS': '0.8',
   'surprise': '0.11',
   'surprisePercentage': '13.75'},
  {'fiscalDateEnding': '2003-06-30',
   'reportedDate': '2003-07-30',
   'reportedEPS': '0.79',
   'estimatedEPS': '0.72',
   'surprise': '0.07',
   'surprisePercentage': '9.7222'},
  {'fiscalDateEnding': '2003-03-31',
   'reportedDate': '2003-04-30',
   'reportedEPS': '0.93',
   'estimatedEPS': '0.86',
   'surprise': '0.07',
   'surprisePercentage': '8.1395'},
  {'fiscalDateEnding': '2002-12-31',
   'reportedDate': '2003-01-29',
   'reportedEPS': '0.55',
   'estimatedEPS': '0.55',
   'surprise': '0',
   'surprisePercentage': '0'},
  {'fiscalDateEnding': '2002-09-30',
   'reportedDate': '2002-10-24',
   'reportedEPS': '0.47',
   'estimatedEPS': '0.47',
   'surprise': '0',
   'surprisePercentage': '0'},
  {'fiscalDateEnding': '2002-06-30',
   'reportedDate': '2002-07-23',
   'reportedEPS': '0.48',
   'estimatedEPS': '0.51',
   'surprise': '-0.03',
   'surprisePercentage': '-5.8824'},
  {'fiscalDateEnding': '2002-03-31',
   'reportedDate': '2002-04-25',
   'reportedEPS': '-0.01',
   'estimatedEPS': '-0.02',
   'surprise': '0.01',
   'surprisePercentage': '50'},
  {'fiscalDateEnding': '2001-12-31',
   'reportedDate': '2002-01-24',
   'reportedEPS': '0.3',
   'estimatedEPS': '0.34',
   'surprise': '-0.04',
   'surprisePercentage': '-11.7647'},
  {'fiscalDateEnding': '2001-09-30',
   'reportedDate': '2001-10-24',
   'reportedEPS': '0.68',
   'estimatedEPS': '0.65',
   'surprise': '0.03',
   'surprisePercentage': '4.6154'},
  {'fiscalDateEnding': '2001-06-30',
   'reportedDate': '2001-07-26',
   'reportedEPS': '1.17',
   'estimatedEPS': '0.95',
   'surprise': '0.22',
   'surprisePercentage': '23.1579'},
  {'fiscalDateEnding': '2001-03-31',
   'reportedDate': '2001-04-30',
   'reportedEPS': '0.96',
   'estimatedEPS': '0.97',
   'surprise': '-0.01',
   'surprisePercentage': '-1.0309'},
  {'fiscalDateEnding': '2000-12-31',
   'reportedDate': '2001-01-25',
   'reportedEPS': '1.36',
   'estimatedEPS': '1.12',
   'surprise': '0.24',
   'surprisePercentage': '21.4286'},
  {'fiscalDateEnding': '2000-09-30',
   'reportedDate': '2000-10-26',
   'reportedEPS': '0.98',
   'estimatedEPS': '0.74',
   'surprise': '0.24',
   'surprisePercentage': '32.4324'},
  {'fiscalDateEnding': '2000-06-30',
   'reportedDate': '2000-07-27',
   'reportedEPS': '0.87',
   'estimatedEPS': '0.79',
   'surprise': '0.08',
   'surprisePercentage': '10.1266'},
  {'fiscalDateEnding': '2000-03-31',
   'reportedDate': '2000-04-27',
   'reportedEPS': '0.53',
   'estimatedEPS': '0.52',
   'surprise': '0.01',
   'surprisePercentage': '1.9231'},
  {'fiscalDateEnding': '1999-12-31',
   'reportedDate': '2000-01-24',
   'reportedEPS': '0.42',
   'estimatedEPS': '0.38',
   'surprise': '0.04',
   'surprisePercentage': '10.5263'},
  {'fiscalDateEnding': '1999-09-30',
   'reportedDate': '1999-10-28',
   'reportedEPS': '0.4',
   'estimatedEPS': '0.36',
   'surprise': '0.04',
   'surprisePercentage': '11.1111'},
  {'fiscalDateEnding': '1999-06-30',
   'reportedDate': '1999-07-27',
   'reportedEPS': '0.23',
   'estimatedEPS': '0.21',
   'surprise': '0.02',
   'surprisePercentage': '9.5238'},
  {'fiscalDateEnding': '1999-03-31',
   'reportedDate': '1999-04-27',
   'reportedEPS': '0.04',
   'estimatedEPS': 'None',
   'surprise': 'None',

## Obtaining Earnings Per Share Data

In [9]:

# Set base URL and parameters
url = "https://www.alphavantage.co/query?"
function = "EARNINGS"
api_key = alpha_api_key

# Creating a list to store data from the API
eps_data = []

# Creating a series of ticker symbols to loop through 
esg_stock_list = esg_data['ticker']


print("Beginning Data Retrieval     ")
print("-----------------------------")

# Adding a counter
found_count = 0
not_found = 0

# For loop that takes the ticker symbols from the ticker series, converts to JSON and gathers the data we're looking for
for stock in esg_stock_list:
    
    eps_url = f'https://www.alphavantage.co/query?function={function}&symbol={stock}&apikey={api_key}'

    # Created a try/except block to allow the code to continue to run if it was unable to find a ticker symbol
    try:
        eps_info_return = requests.get(eps_url)
        data = eps_info_return.json()
        eps_2023 = data['annualEarnings'][1]['reportedEPS']
        eps_2022 = data['annualEarnings'][2]['reportedEPS']
        eps_2021 = data['annualEarnings'][3]['reportedEPS']
        eps_2020 = data['annualEarnings'][4]['reportedEPS']
        eps_2019 = data['annualEarnings'][5]['reportedEPS']
        avg_eps = ((float(eps_2023)) + (float(eps_2022)) + (float(eps_2021)) + (float(eps_2020)) + (float(eps_2019)))/5



        # Appending eps_data list with the new data
        eps_data.append({"ticker": stock,
                            "eps 2019": eps_2019, 
                            "eps 2020": eps_2020, 
                            "eps 2021": eps_2021, 
                            "eps 2022": eps_2022, 
                            "eps 2023": eps_2023,
                            "AVG Annual EPS": avg_eps
                           })
        
        found_count += 1
        print(f'Record {found_count}: Data found for {stock}')
    
    except:
        print(f'skipping {stock}, data not found')
        not_found += 1


# We utilized our counters to get an idea what percentage of the desired data we captured
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")
print(f'{found_count} Records found successfully')
print("-----------------------------")
print(f'{not_found} Records not found')
print("-----------------------------")
success_rate = (found_count/(found_count+not_found))*100
print(f'{success_rate}% of total records found')
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Record 1: Data found for dis
Record 2: Data found for gm
Record 3: Data found for gww
Record 4: Data found for mhk
Record 5: Data found for lyv
Record 6: Data found for lvs
Record 7: Data found for clx
Record 8: Data found for aacg
Record 9: Data found for aal
Record 10: Data found for aame
Record 11: Data found for aaoi
Record 12: Data found for aaon
Record 13: Data found for aapl
skipping aatc, data not found
skipping aaww, data not found
skipping aaci, data not found
Record 14: Data found for aadi
Record 15: Data found for abeo
skipping abnb, data not found
Record 16: Data found for abio
skipping abmd, data not found
Record 17: Data found for abos
Record 18: Data found for absi
skipping abtx, data not found
Record 19: Data found for abus
Record 20: Data found for abvc
Record 21: Data found for acad
skipping acac, data not found
skipping accd, data not found
Record 22: Data found for acet
Record 23: Data found for abcl
Record 24: Data found for abcb
skipping acev, data not found
Record 25: Data found for achl
Record 26: Data found for achc
Record 27: Data found for aciw
Record 28: Data found for acls
Record 29: Data found for aciu
Record 30: Data found for achv
Record 31: Data found for acmr
Record 32: Data found for acor
Record 33: Data found for acnb
Record 34: Data found for acrs
skipping acrx, data not found
Record 35: Data found for act
Record 36: Data found for actg
skipping acva, data not found
Record 37: Data found for adag
skipping acxp, data not found
Record 38: Data found for adbe
Record 39: Data found for adap
Record 40: Data found for adma
skipping ades, data not found
Record 41: Data found for adi
Record 42: Data found for adil
skipping admp, data not found
skipping acer, data not found
skipping adoc, data not found
Record 43: Data found for adus
Record 44: Data found for acgl
Record 45: Data found for adpt
Record 46: Data found for adsk
Record 47: Data found for adp
Record 48: Data found for adtx
Record 49: Data found for adv
Record 50: Data found for advm
Record 51: Data found for aehr
Record 52: Data found for aehl
Record 53: Data found for aei
Record 54: Data found for aeis
Record 55: Data found for aep
Record 56: Data found for aemd
skipping aese, data not found
Record 57: Data found for aeye
skipping aeri, data not found
skipping aey, data not found
skipping afaq, data not found
Record 58: Data found for afmd
skipping afcg, data not found
Record 59: Data found for afbi
Record 60: Data found for afrm
skipping afib, data not found
Record 61: Data found for agen
Record 62: Data found for afya
skipping agfs, data not found
skipping agfy, data not found
skipping agil, data not found
Record 63: Data found for agmh
Record 64: Data found for agio
skipping agle, data not found
Record 65: Data found for agnc
skipping agri, data not found
Record 66: Data found for agrx
Record 67: Data found for agys
skipping agtc, data not found
Record 68: Data found for ahco
skipping ahpi, data not found
skipping aib, data not found
Record 69: Data found for adtn
Record 70: Data found for adn
skipping aiki, data not found
skipping akic, data not found
skipping aip, data not found
Record 71: Data found for akro
Record 72: Data found for airt
skipping aimc, data not found
Record 73: Data found for akba
Record 74: Data found for airg
skipping airs, data not found
Record 75: Data found for akam
skipping aku, data not found
skipping akus, data not found
Record 76: Data found for akts
Record 77: Data found for aktx
skipping albo, data not found
skipping akya, data not found
Record 78: Data found for alco
Record 79: Data found for aldx
Record 80: Data found for alec
skipping algm, data not found
skipping alf, data not found
Record 81: Data found for algn
skipping algs, data not found
Record 82: Data found for alhc
Record 83: Data found for alks
Record 84: Data found for alim
Record 85: Data found for algt
skipping aih, data not found
skipping alkt, data not found
Record 86: Data found for alny
Record 87: Data found for allt
Record 88: Data found for allo
Record 89: Data found for amat
Record 90: Data found for amd
skipping atvi, data not found
Record 91: Data found for avgo
Record 92: Data found for anss
Record 93: Data found for amzn
Record 94: Data found for aihs
Record 95: Data found for apa
Record 96: Data found for biib
Record 97: Data found for bkng
Record 98: Data found for cdns
Record 99: Data found for cdw
Record 100: Data found for chrw
Record 101: Data found for cinf
Record 102: Data found for chtr
Record 103: Data found for cmcsa
Record 104: Data found for cprt
Record 105: Data found for cost
Record 106: Data found for csx
Record 107: Data found for ctsh
Record 108: Data found for cme
Record 109: Data found for csco
Record 110: Data found for ctas
skipping ctxs, data not found
Record 111: Data found for czr
skipping dish, data not found
Record 112: Data found for dltr
Record 113: Data found for dxcm
Record 114: Data found for ea
Record 115: Data found for lnt
Record 116: Data found for fang
Record 117: Data found for ebay
Record 118: Data found for lkq
Record 119: Data found for googl
Record 120: Data found for mar
Record 121: Data found for mchp
Record 122: Data found for lrcx
Record 123: Data found for mdlz
Record 124: Data found for meta
Record 125: Data found for mktx
Record 126: Data found for mnst
Record 127: Data found for mrna
Record 128: Data found for mtch
Record 129: Data found for mpwr
Record 130: Data found for msft
Record 131: Data found for mu
Record 132: Data found for ndaq
skipping nlok, data not found
Record 133: Data found for ntrs
Record 134: Data found for nwl
Record 135: Data found for nvda
Record 136: Data found for allk
Record 137: Data found for nwsa
Record 138: Data found for odfl
Record 139: Data found for pcar
Record 140: Data found for nxpi
Record 141: Data found for orly
Record 142: Data found for payx
Record 143: Data found for pfg
Record 144: Data found for rost
Record 145: Data found for sbac
Record 146: Data found for qcom
Record 147: Data found for pool
Record 148: Data found for pep
Record 149: Data found for sbux
Record 150: Data found for reg
Record 151: Data found for qrvo
Record 152: Data found for ptc
Record 153: Data found for penn
Record 154: Data found for pypl
Record 155: Data found for regn
Record 156: Data found for amgn
Record 157: Data found for snps
Record 158: Data found for stx
Record 159: Data found for tech
Record 160: Data found for ter
Record 161: Data found for swks
Record 162: Data found for trmb
Record 163: Data found for trow
Record 164: Data found for ttwo
Record 165: Data found for tsla
Record 166: Data found for tsco
Record 167: Data found for txn
Record 168: Data found for tmus
Record 169: Data found for ual
Record 170: Data found for vrsk
Record 171: Data found for ulta
Record 172: Data found for vrtx
Record 173: Data found for vtrs
Record 174: Data found for vrsn
Record 175: Data found for wba
Record 176: Data found for ntap
Record 177: Data found for xel
Record 178: Data found for xray
Record 179: Data found for zbra
Record 180: Data found for aap
Record 181: Data found for zion
Record 182: Data found for wynn
Record 183: Data found for a
Record 184: Data found for abbv
skipping abc, data not found
Record 185: Data found for adm
Record 186: Data found for abt
Record 187: Data found for aee
Record 188: Data found for aes
Record 189: Data found for afl
Record 190: Data found for acn
Record 191: Data found for ajg
Record 192: Data found for aiz
Record 193: Data found for alk
Record 194: Data found for alb
Record 195: Data found for aig
Record 196: Data found for all
Record 197: Data found for alle
Record 198: Data found for amp
Record 199: Data found for ame
Record 200: Data found for amt
Record 201: Data found for aos
Record 202: Data found for apd
Record 203: Data found for aon
Record 204: Data found for anet
Record 205: Data found for aph
Record 206: Data found for ato
Record 207: Data found for awk
Record 208: Data found for are
Record 209: Data found for aptv
Record 210: Data found for avb
Record 211: Data found for avy
Record 212: Data found for ba
Record 213: Data found for bac
Record 214: Data found for bax
Record 215: Data found for bbwi
Record 216: Data found for bdx
Record 217: Data found for bio
Record 218: Data found for bby
Record 219: Data found for bk
Record 220: Data found for axp
Record 221: Data found for br
Record 222: Data found for bmy
Record 223: Data found for bro
Record 224: Data found for azo
Record 225: Data found for bsx
Record 226: Data found for bx
Record 227: Data found for bxp
skipping sivb, data not found
Record 228: Data found for c
Record 229: Data found for cat
Record 230: Data found for carr
Record 231: Data found for cbre
Record 232: Data found for cci
skipping cday, data not found
Record 233: Data found for cma
Record 234: Data found for dhi
Record 235: Data found for dov
Record 236: Data found for dri
Record 237: Data found for ce
Record 238: Data found for dg
Record 239: Data found for cmg
Record 240: Data found for dgx
Record 241: Data found for ccl
Record 242: Data found for chd
Record 243: Data found for dow
Record 244: Data found for dfs
Record 245: Data found for duk
skipping dre, data not found
Record 246: Data found for cf
Record 247: Data found for dvn
Record 248: Data found for ecl
Record 249: Data found for hd
Record 250: Data found for dte
Record 251: Data found for eix
Record 252: Data found for glw
Record 253: Data found for dva
Record 254: Data found for wdc
Record 255: Data found for gs
Record 256: Data found for dxc
Record 257: Data found for etn
Record 258: Data found for ed
Record 259: Data found for hsy
Record 260: Data found for jnj
Record 261: Data found for jpm
Record 262: Data found for ko
Record 263: Data found for kmx
Record 264: Data found for ldos
Record 265: Data found for leg
Record 266: Data found for mcd
Record 267: Data found for lin
Record 268: Data found for lumn
Record 269: Data found for lyb
Record 270: Data found for mco
Record 271: Data found for mck
Record 272: Data found for mas
Record 273: Data found for low
Record 274: Data found for mdt
Record 275: Data found for mkc
Record 276: Data found for met
Record 277: Data found for mgm
Record 278: Data found for mmc
Record 279: Data found for mo
Record 280: Data found for bwa
Record 281: Data found for mrk
Record 282: Data found for mro
Record 283: Data found for mpc
Record 284: Data found for ms
Record 285: Data found for mtb
Record 286: Data found for mtd
Record 287: Data found for msi
Record 288: Data found for nee
Record 289: Data found for msci
Record 290: Data found for nclh
Record 291: Data found for ni
Record 292: Data found for noc
Record 293: Data found for now
Record 294: Data found for nue
skipping nlsn, data not found
Record 295: Data found for nsc
Record 296: Data found for nvr
Record 297: Data found for pgr
Record 298: Data found for pfe
Record 299: Data found for phm
Record 300: Data found for ph
skipping pki, data not found
Record 301: Data found for pld
Record 302: Data found for ppg
Record 303: Data found for psa
Record 304: Data found for pnc
Record 305: Data found for pm
Record 306: Data found for pkg
Record 307: Data found for psx
Record 308: Data found for pru
Record 309: Data found for pnr
Record 310: Data found for pnw
Record 311: Data found for ppl
Record 312: Data found for pwr
Record 313: Data found for rjf
Record 314: Data found for rf
Record 315: Data found for rcl
Record 316: Data found for rl
Record 317: Data found for pvh
Record 318: Data found for rhi
Record 319: Data found for pxd
Record 320: Data found for rol
Record 321: Data found for rmd
Record 322: Data found for schw
Record 323: Data found for rok
Record 324: Data found for tdg
Record 325: Data found for see
Record 326: Data found for rop
Record 327: Data found for swk
Record 328: Data found for stz
Record 329: Data found for syk
Record 330: Data found for syy
Record 331: Data found for shw
Record 332: Data found for spgi
Record 333: Data found for ste
Record 334: Data found for syf
Record 335: Data found for spg
Record 336: Data found for sre
Record 337: Data found for so
Record 338: Data found for stt
Record 339: Data found for sna
Record 340: Data found for rtx
Record 341: Data found for hig
Record 342: Data found for tel
Record 343: Data found for tfx
Record 344: Data found for tfc
Record 345: Data found for tdy
Record 346: Data found for tgt
Record 347: Data found for tjx
Record 348: Data found for tpr
Record 349: Data found for trv
Record 350: Data found for tmo
Record 351: Data found for tt
Record 352: Data found for tsn
Record 353: Data found for tyl
Record 354: Data found for txt
Record 355: Data found for unh
Record 356: Data found for ups
Record 357: Data found for udr
Record 358: Data found for uhs
Record 359: Data found for mos
Record 360: Data found for usb
Record 361: Data found for uri
Record 362: Data found for vno
Record 363: Data found for vlo
Record 364: Data found for vfc
Record 365: Data found for v
Record 366: Data found for vtr
Record 367: Data found for vmc
Record 368: Data found for wec
Record 369: Data found for well
Record 370: Data found for wat
Record 371: Data found for wm
Record 372: Data found for wab
Record 373: Data found for wmb
Record 374: Data found for wfc
Record 375: Data found for whr
Record 376: Data found for wst
Record 377: Data found for wrb
Record 378: Data found for wmt
Record 379: Data found for wu
Record 380: Data found for yum
Record 381: Data found for xyl
Record 382: Data found for wy
Record 383: Data found for wrk
Record 384: Data found for xom
Record 385: Data found for zbh
Record 386: Data found for zts
Record 387: Data found for de
Record 388: Data found for dd
Record 389: Data found for d
Record 390: Data found for cvs
Record 391: Data found for dal
Record 392: Data found for crm
Record 393: Data found for cvx
Record 394: Data found for ctva
Record 395: Data found for ctra
Record 396: Data found for ctlt
Record 397: Data found for cpb
Record 398: Data found for crl
Record 399: Data found for cop
Record 400: Data found for coo
Record 401: Data found for cof
Record 402: Data found for cnc
Record 403: Data found for cnp
Record 404: Data found for cms
Record 405: Data found for cmi
Record 406: Data found for cl
Record 407: Data found for mmm
Record 408: Data found for cfg
Record 409: Data found for cag
Record 410: Data found for ci
Record 411: Data found for cah
Record 412: Data found for ma
Record 413: Data found for lw
Record 414: Data found for maa
Record 415: Data found for mlm
Record 416: Data found for luv
Record 417: Data found for lnc
Record 418: Data found for len
Record 419: Data found for pg
skipping ogn, data not found
Record 420: Data found for oxy
Record 421: Data found for dell
Record 422: Data found for payc
Record 423: Data found for peg
Record 424: Data found for oke
Record 425: Data found for nrg
Record 426: Data found for l
Record 427: Data found for omc
Record 428: Data found for orcl
Record 429: Data found for o
Record 430: Data found for dpz
Record 431: Data found for t
Record 432: Data found for unp
Record 433: Data found for nem
Record 434: Data found for fdx
Record 435: Data found for nke
Record 436: Data found for f
Record 437: Data found for lmt
Record 438: Data found for rsg
Record 439: Data found for enph
Record 440: Data found for exc
Record 441: Data found for expd
Record 442: Data found for expe
Record 443: Data found for fast
Record 444: Data found for ffiv
skipping fisv, data not found
Record 445: Data found for eqix
Record 446: Data found for ftnt
Record 447: Data found for etsy
Record 448: Data found for ben
Record 449: Data found for dlr
Record 450: Data found for dhr
Record 451: Data found for efx
Record 452: Data found for el
Record 453: Data found for emn
Record 454: Data found for emr
Record 455: Data found for eog
Record 456: Data found for eqr
Record 457: Data found for es
Record 458: Data found for ess
Record 459: Data found for fitb
Record 460: Data found for etr
Record 461: Data found for exr
Record 462: Data found for ew
Record 463: Data found for foxa
Record 464: Data found for fcx
Record 465: Data found for fe
skipping flt, data not found
Record 466: Data found for fis
skipping frc, data not found
Record 467: Data found for fmc
Record 468: Data found for frt
Record 469: Data found for ftv
Record 470: Data found for gps
Record 471: Data found for grmn
Record 472: Data found for it
Record 473: Data found for lly
skipping re, data not found
Record 474: Data found for evrg
skipping fbhs, data not found
Record 475: Data found for gild
Record 476: Data found for holx
Record 477: Data found for hsic
Record 478: Data found for hon
Record 479: Data found for hst
Record 480: Data found for gd
Record 481: Data found for has
Record 482: Data found for hban
Record 483: Data found for gl
Record 484: Data found for gpc
Record 485: Data found for gnrc
Record 486: Data found for gpn
Record 487: Data found for hca
Record 488: Data found for hbi
Record 489: Data found for hii
Record 490: Data found for hpe
Record 491: Data found for hes
Record 492: Data found for hlt
Record 493: Data found for hrl
Record 494: Data found for hpq
Record 495: Data found for hum
Record 496: Data found for hwm
skipping peak, data not found
Record 497: Data found for gis
Record 498: Data found for ge
Record 499: Data found for spot
skipping trtn, data not found
Record 500: Data found for trtx
Record 501: Data found for tru
Record 502: Data found for yeti
Record 503: Data found for yelp
Record 504: Data found for yext
Record 505: Data found for spr
skipping ysg, data not found
Record 506: Data found for yrd
Record 507: Data found for yumc
Record 508: Data found for trox
Record 509: Data found for zepp
skipping zev, data not found
Record 510: Data found for zuo
skipping zim, data not found
Record 511: Data found for zyme
Record 512: Data found for zws
skipping you, data not found
skipping zen, data not found
Record 513: Data found for plxs
Record 514: Data found for ship
skipping shls, data not found
Record 515: Data found for shoo
Record 516: Data found for shyf
Record 517: Data found for sibn
Record 518: Data found for sieb
Record 519: Data found for plya
skipping wwe, data not found
Record 520: Data found for pmcb
Record 521: Data found for www
Record 522: Data found for xhr
Record 523: Data found for x
skipping xpev, data not found
Record 524: Data found for xpo
Record 525: Data found for xin
skipping xl, data not found
skipping xyf, data not found
skipping y, data not found
Record 526: Data found for yala
Record 527: Data found for wts
skipping sien, data not found
Record 528: Data found for hain
Record 529: Data found for mtc
skipping mtcr, data not found
Record 530: Data found for mtem
Record 531: Data found for mtls
Record 532: Data found for mtex
Record 533: Data found for mtrx
Record 534: Data found for halo
skipping hall, data not found
Record 535: Data found for mvbf
Record 536: Data found for mvst
Record 537: Data found for mvis
Record 538: Data found for mxct
Record 539: Data found for mygn
Record 540: Data found for myfw
Record 541: Data found for mxl
Record 542: Data found for mymd
skipping myps, data not found
Record 543: Data found for mttr
Record 544: Data found for mtsi
Record 545: Data found for clro
skipping clsn, data not found
Record 546: Data found for gure
Record 547: Data found for gvp
Record 548: Data found for gyro
Record 549: Data found for gwrs
Record 550: Data found for ha
Record 551: Data found for clsk
Record 552: Data found for clsd
skipping haac, data not found
Record 553: Data found for hafc
skipping clst, data not found
Record 554: Data found for clwt
skipping clxt, data not found
Record 555: Data found for cmbm
Record 556: Data found for cmco
skipping evk, data not found
skipping clvs, data not found
Record 557: Data found for clvr
skipping happ, data not found
Record 558: Data found for hbcp
Record 559: Data found for hbio
Record 560: Data found for hbnc

In [10]:
#Show the newly created DataFrame
eps_df = pd.DataFrame(eps_data)
eps_df

    ticker eps 2019 eps 2020 eps 2021 eps 2022 eps 2023  AVG Annual EPS
0      dis     5.87     2.01     2.28     3.53     3.77           3.492
1       gm      4.3     4.88     7.09      7.6     7.64           6.302
2      gww    17.29    16.17    19.84    29.67    36.65          23.924
3      mhk    10.02     8.83    14.84    12.85     9.19          11.146
4      lyv    -0.07     -8.1    -3.01     0.79      1.3          -1.818
..     ...      ...      ...      ...      ...      ...             ...
620    hgv     2.43     0.44     1.55     2.94      2.8           2.032
621     hi     2.45     2.57     3.79     3.92     3.52           3.250
622   hubs    -1.27    -1.91    -1.67    -2.35    -1.52          -1.744
623   hesm     1.22     1.31     1.76     2.01     2.09           1.678
624    hei     2.39     2.29      2.2     2.55     2.94           2.474

[625 rows x 7 columns]

In [11]:
#We merged these two newly created dataframes together 

esg_merge_1 = pd.merge(percent_change_df, eps_df, how="left", on=["ticker", "ticker"])
esg_merge_1.head()

#Investigate and drop as needed

,ticker,5 YR Open,5 YR Close,Percentage Change,Annualized % Change,eps 2019,eps 2020,eps 2021,eps 2022,eps 2023,AVG Annual EPS
0,dis,111.0300,122.3600,10.204449,2.040890,5.87,2.01,2.28,3.53,3.77,3.492
1,gm,37.1000,45.3500,22.237197,4.447439,4.3,4.88,7.09,7.6,7.64,6.302
2,gww,300.9300,1017.3000,238.052039,47.610408,17.29,16.17,19.84,29.67,36.65,23.924
3,mhk,126.1500,130.8900,3.757432,0.751486,10.02,8.83,14.84,12.85,9.19,11.146
4,lyv,63.5400,105.7700,66.462071,13.292414,-0.07,-8.1,-3.01,0.79,1.3,-1.818

In [12]:
esg_merge_1.count()

ticker                 599
5 YR Open              599
5 YR Close             599
Percentage Change      599
Annualized % Change    599
eps 2019               589
eps 2020               589
eps 2021               589
eps 2022               589
eps 2023               589
AVG Annual EPS         589
dtype: int64

In [13]:
#dropping incomplete records

esg_merge_1.dropna(how="any")
esg_merge_1.count()

#This is not making sense

ticker                 599
5 YR Open              599
5 YR Close             599
Percentage Change      599
Annualized % Change    599
eps 2019               589
eps 2020               589
eps 2021               589
eps 2022               589
eps 2023               589
AVG Annual EPS         589
dtype: int64

In [14]:
#Final Merge

final_merge = pd.merge(esg_merge_1, esg_data, how="left", on=["ticker", "ticker"])
final_merge.head()

,ticker,5 YR Open,5 YR Close,Percentage Change,Annualized % Change,eps 2019,eps 2020,eps 2021,eps 2022,eps 2023,...,governance_grade,governance_level,environment_score,social_score,governance_score,total_score,last_processing_date,total_grade,total_level,cik
0,dis,111.0300,122.3600,10.204449,2.040890,5.87,2.01,2.28,3.53,3.77,...,BB,Medium,510,316,321,1147,19-04-2022,BBB,High,1744489
1,gm,37.1000,45.3500,22.237197,4.447439,4.3,4.88,7.09,7.6,7.64,...,B,Medium,510,303,255,1068,17-04-2022,BBB,High,1467858
2,gww,300.9300,1017.3000,238.052039,47.610408,17.29,16.17,19.84,29.67,36.65,...,B,Medium,255,385,240,880,19-04-2022,BB,Medium,277135
3,mhk,126.1500,130.8900,3.757432,0.751486,10.02,8.83,14.84,12.85,9.19,...,BB,Medium,570,298,303,1171,18-04-2022,BBB,High,851968
4,lyv,63.5400,105.7700,66.462071,13.292414,-0.07,-8.1,-3.01,0.79,1.3,...,B,Medium,492,310,250,1052,18-04-2022,BBB,High,1335258

In [15]:
#Final Drop

esg_complete = final_merge.dropna(subset = ["AVG Annual EPS"])

esg_complete.count()

ticker                  589
5 YR Open               589
5 YR Close              589
Percentage Change       589
Annualized % Change     589
eps 2019                589
eps 2020                589
eps 2021                589
eps 2022                589
eps 2023                589
AVG Annual EPS          589
name                    589
currency                589
exchange                589
industry                589
logo                    584
weburl                  587
environment_grade       589
environment_level       589
social_grade            589
social_level            589
governance_grade        589
governance_level        589
environment_score       589
social_score            589
governance_score        589
total_score             589
last_processing_date    589
total_grade             589
total_level             589
cik                     589
dtype: int64

In [16]:
#Export to CSV Files folder

esg_complete.to_csv("csv_files/esg_complete.csv")